/*clear css*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, textarea {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 12px;
    font-weight: normal;
    vertical-align: top;
    background: transparent;
    outline: none;
}

b {
    font-weight: bold;
}

i {
    font-style: italic;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a, span {
    vertical-align: baseline;
}

img {
    vertical-align: top;
    text-decoration: none;
}
/*create my style*/

html, body {
    width: 100%;
    height: 100%;
}

body {
    font: normal 12px "Arial", Arial, Helvetica, sans-serif;
    color: #888;
}

.bold {
    font-weight: bold;
}

.strike {
    text-decoration: line-through;
}

.clear {
    clear: both;
}

br.clear {
    height: 0;
    clear: both;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
}

noscript ul {
    list-style-type: none;
    background: black;
    color: white;
    padding: 10px;
}

.clearfix:after {
    clear: both;
    display: block;
    height: 0;
    font-size: 0;
    visibility: hidden;
    content: ".";
}

.clearblock {
    height: 0;
    clear: both;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
}
body#cms div.content_only {
    padding: 0 20px 20px 20px;
    background: #fff;
    color: #000;
    text-align: left;
}

    body#cms div.content_only h1 {
        padding: 14px 0 0 0;
        font: normal 18px "Arial";
        color: #777;
        text-transform: uppercase;
    }

    body#cms div.content_only h2 {
        padding: 14px 0 0 0;
        font: bold 14px "Arial";
        color: #777;
        text-transform: uppercase;
    }

    body#cms div.content_only h3 {
        padding: 14px 0 0 0;
        font: bold 12px "Arial";
        color: #777;
        text-transform: uppercase;
    }

    body#cms div.content_only h4,
    body#cms div.content_only h5,
    body#cms div.content_only h6 {
        padding: 14px 0 0 0;
        font: normal 12px "Arial";
        color: #777;
        text-transform: uppercase;
    }

    body#cms div.content_only p {
        padding-top: 12px;
        font: normal 12px "Arial";
        color: #000;
    }

    body#cms div.content_only a {
        font: normal 12px "Arial";
        color: #0753b4;
        text-decoration: none;
    }

        body#cms div.content_only a:hover {
            color: #000;
        }

    body#cms div.content_only ul {
        list-style-type: circle;
        list-style-position: inside;
    }

    body#cms div.content_only ol {
        list-style-type: decimal;
        list-style-position: inside;
    }

.hidden,
.collapsed,
.block_hidden_only_for_screen {
    display: none;
}
/*block style*/
div.column {
}

    div.column a {
        color: #000;
        text-decoration: none;
    }

        div.column a:hover {
            color: #888;
        }

    div.column > div {
        margin: 0 0 33px 0;
    }

    div.column div.block {
    }

        div.column div.block h4 {
            padding: 0 0 16px 0;
            background: url(../images/double_border.png) 0 bottom repeat-x;
            font: bold 13px "Georgia";
            color: #000;
            text-transform: uppercase;
        }

            div.column div.block h4 a {
                font: bold 13px "Georgia";
            }

        div.column div.block .block_content {
        }

        div.column div.block ul.bullet {
            padding-top: 8px;
        }

            div.column div.block ul.bullet li {
                padding: 4px 0 0 12px;
                background: url(../images/bullet.png) 0 8px no-repeat;
            }
			/* block categories*/
#categories_block_left {
}

    #categories_block_left ul.tree {
        padding: 6px 0 0 0;
    }

        #categories_block_left ul.tree li {
            border-top: 1px solid #e5e5e5;
            position: relative;
        }

        #categories_block_left ul.tree > li:first-child {
            border: medium none;
        }

        #categories_block_left  ul.tree li a {
            display: block;
            padding: 7px 0px 7px 8px;
            background: url(../images/bullet_category.png) no-repeat scroll 0px 12px transparent;
            font: 10px "Georgia";
            text-transform: uppercase;
        }

            #categories_block_left ul.tree li a:hover {
            }
#categories_block_left ul.tree li a {
    display: block;
    padding: 7px 0px 7px 8px;
    background: url('../images/bullet_category.png') no-repeat scroll 0px 12px transparent;
    font: 10px "Georgia";
    text-transform: uppercase;
}
        #categories_block_left ul.tree a.selected {
            font-weight: bold;
        }

        #categories_block_left ul.tree li ul {
        }

            #categories_block_left ul.tree li ul li {
                padding: 0 0 0 10px;
            }

                #categories_block_left ul.tree li ul li a {
                }

    #categories_block_left span.grower {
        width: 15px;
        height: 15px;
        display: block;
        cursor: pointer;
        position: absolute;
        right: -3px;
        top: 6px;
    }

    #categories_block_left span.OPEN {
        background: url(../images/categories_minus.gif) 3px 3px no-repeat;
    }

    #categories_block_left span.CLOSE {
        background: url(../images/categories_plus.gif) 3px 3px no-repeat;
    }
/*center_column*/
.center_column p {
    margin: 0 0 -3px 0;
    padding: 17px 0 0 0;
    color: #888;
}

.center_column a {
    color: #333;
    text-decoration: underline;
}

    .center_column a:hover {
        text-decoration: none;
    }

#center_column h1 {
    padding: 0 0 16px 0;
    background: url(../images/double_border.png) 0 bottom repeat-x;
    font: bold 13px "Georgia";
    color: #000;
    text-transform: uppercase;
}

    #center_column h1 span {
        margin-left: 15px;
        font-size: 12px;
        font-weight: normal;
        color: #777;
        text-transform: none;
    }
/* ————— blockstore */
#stores_block_left div.block_content {
    padding-top: 12px;
}

#stores_block_left p {
    text-align: left;
}

    #stores_block_left p a img {
        width: 140px;
        margin: 0 0 10px 0;
    }



.center_column h2,
.center_column h3,
.center_column h4 {
    margin: 0 0 -3px 0;
    padding: 17px 0 0 0;
    font: bold 12px "Georgia";
    color: #000;
    text-transform: uppercase;
}

a.product_link {
    font: bold 12px "Georgia";
    color: #1c1c1c;
    text-decoration: none;
    text-transform: uppercase;
}

    a.product_link:hover {
        color: #888;
    }

a.product_descr {
    font: 11px "Georgia";
    color: #888;
    text-decoration: none;
    text-transform: none;
}

    a.product_descr:hover {
        color: #1c1c1c;
    }


/*layout*/
#wrapper1 {
    min-width: 1100px;
    min-height: 100%;
    background: url(../images/bg_pattern.jpg);
}

#wrapper2 {
    padding: 62px 0;
}

#wrapper3 {
    width: 1020px;
    margin: 0 auto;
    text-align: left;
    background: #fff;
}

#columns {
    float: left;
    margin: 11px 0 0 40px;
    padding: 49px 0 0 0;
    background: url(../images/double_border.png) 0 0 repeat-x;
}

body#index #columns {
    float: left;
    margin: 0 0 0 40px;
    padding: 49px 0 0 0;
    background: none;
}

#left_column {
    float: left;
    width: 140px;
}

#center_column {
    width: 620px;
    float: left;
    margin: 0 0 19px 20px;
}


#right_column {
    width: 140px;
    float: left;
    margin: 0 0 0 20px;
}

#tmheaderlinks {
    height: 22px;
    padding: 177px 0 0 0;
    text-align: center;
}

    #tmheaderlinks li {
        display: inline;
    }

        #tmheaderlinks li + li {
            margin: 0 0 0 10px;
            padding: 0 0 0 10px;
            border-left: 1px solid #1c1c1c;
        }

        #tmheaderlinks li a {
            font: bold 12px "Georgia";
            color: #1c1c1c;
            text-decoration: none;
            text-transform: uppercase;
        }

            #tmheaderlinks li a:hover {
                color: #7c7c7c;
            }
/*user header*/
#header {
    width: 1020px;
    height: 250px;
    margin: 0 0 0 -20px;
    padding: 0 20px;
    background: url(../images/bg_header.png) 0 44px no-repeat;
    position: relative;
}

#header_logo {
    width: 272px;
    height: 59px;
    display: block;
    position: absolute;
    left: 395px;
    top: 101px;
}

#header_user {
    float: left;
}

    #header_user ul {
        padding: 18px 0 0 41px;
    }

        #header_user ul li {
            float: left;
            font: 9px "Georgia";
            text-transform: uppercase;
        }

            #header_user ul li,
            #header_user ul li a,
            #header_user ul li span {
                font: 9px "Georgia";
                text-decoration: none;
            }

    #header_user #your_account {
        height: 16px;
        padding: 6px 0 0 28px;
        background: url(../images/header_account.png) 0 0 no-repeat;
    }

        #header_user #your_account a {
            color: #212121;
        }

            #header_user #your_account a:hover {
                color: #7c7c7c;
            }

    #header_user #header_user_info {
        padding: 6px 29px 0 28px;
        color: #1f1f1f;
    }

        #header_user #header_user_info a {
            color: #7c7c7c;
        }

            #header_user #header_user_info a:hover {
                color: #1f1f1f;
            }

        #header_user #header_user_info span {
            color: #1f1f1f;
        }

    #header_user #shopping_cart {
        height: 16px;
        padding: 6px 0 0 28px;
        background: url(../images/header_cart.png) 0 0 no-repeat;
    }

        #header_user #shopping_cart a {
            color: #1b1b1b;
        }

            #header_user #shopping_cart a:hover {
                color: #7c7c7c;
            }

        #header_user #shopping_cart span {
            color: #1b1b1b;
        }
/*block languages*/
#languages_block_top {
    height: 16px;
    float: right;
    padding: 22px 40px 0 0;
}

    #languages_block_top ul li {
        float: left;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
    }

        #languages_block_top ul li:hover {
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
        }

        #languages_block_top ul li + li {
            margin: 0 0 0 8px;
        }

        #languages_block_top ul li img {
            width: 22px;
            height: 16px;
        }
/* block currencies */
#currencies_block_top {
    height: 16px;
    float: right;
    padding: 22px 22px 0 0;
}

    #currencies_block_top label {
        display: block;
        float: left;
        padding: 3px 7px 0 0;
        font: 9px "Georgia";
        color: #1a1a1a;
        text-transform: uppercase;
    }

    #currencies_block_top select {
        width: 88px;
        height: 16px;
        background: #000;
        border: 1px solid #000;
        font: 10px "Georgia";
        color: #fff;
        text-transform: uppercase;
    }
/*link other page*/
#headerlinks {
    height: 22px;
    padding: 177px 0 0 0;
    text-align: center;
}

    #headerlinks li {
        display: inline;
    }

        #headerlinks li + li {
            margin: 0 0 0 10px;
            padding: 0 0 0 10px;
            border-left: 1px solid #1c1c1c;
        }

        #headerlinks li a {
            font: bold 12px "Georgia";
            color: #1c1c1c;
            text-decoration: none;
            text-transform: uppercase;
        }

            #headerlinks li a:hover {
                color: #7c7c7c;
            }

/* sitemap */
div.sitemap_block {
    width: 30%;
    float: left;
    padding: 0 3% 0 0;
}

    div.sitemap_block ul {
        padding-top: 7px;
    }

        div.sitemap_block ul li {
            padding: 5px 0 0 12px;
            background: url(../images/bullet_alt.png) 0 10px no-repeat;
        }

div.categTree {
    clear: both;
    overflow: hidden;
    padding: 3px 0 0 0;
}

div.tree_top {
    height: 14px;
    margin: 10px 0 0 0;
    padding: 3px 0 0 28px;
    background: url(../images/sitemap_top.gif) -1px -1px no-repeat;
}

    div.tree_top a {
        font-weight: bold;
        text-transform: uppercase;
    }

div#center_column ul.tree {
}

    div#center_column ul.tree li {
        border-left: solid 1px #a1a1a1;
        background: url(../images/sitemap_horizontal.gif) 0 12px no-repeat;
        margin: 0 0 0 11px;
        padding: 5px 0 0 16px;
    }

        div#center_column ul.tree li ul {
            padding: 2px 0 4px 0;
        }

            div#center_column ul.tree li ul li {
                margin: 0;
            }

    div#center_column ul.tree a {
        padding-left: 0;
    }

        div#center_column ul.tree a.selected {
            font-weight: bold;
        }

    div#center_column ul.tree li.last {
        background: url(../images/sitemap_last.gif) 0 0 no-repeat;
        border: none;
        padding: 5px 0 0 17px;
    }
/* —————————————————————————————— center column styles —————————————————————————————— */
/* breadcrumb*/
.breadcrumb {
    position: relative;
}

.breadcrumb_inner {
    font: 10px "Georgia";
    text-transform: uppercase;
    position: absolute;
    left: -160px;
    top: -28px;
}

.breadcrumb .navigation_page,
.breadcrumb .navigation_end,
.breadcrumb .navigation_product {
    font: 10px "Georgia";
}

.breadcrumb .navigation-pipe {
    padding: 0 7px;
    font: 9px "Arial";
}

.breadcrumb a {
    font: 10px "Georgia";
    color: #888;
    text-decoration: none;
}

    .breadcrumb a:hover {
        color: #000;
    }
/*Rte*/
div.rte strong {
    font-weight: bold;
}

div.rte em {
    font-style: italic;
}

div.rte table {
    border-collapse: separate;
    border-spacing: 1px;
    width: auto;
}

div.rte caption,
div.rte th,
div.rte td,
div.rte table {
    text-align: left;
    font-weight: normal;
    background: none;
    height: inherit;
    border: 1px #eee solid;
    font: normal 12px "Arial";
    color: #000;
    text-align: center;
}

div.rte th {
    height: 24px;
    padding: 0 7px;
    background: #eee;
    font-weight: bold;
}

/* cart_block*/
#cart_block {
}

    #cart_block h4 {
    }

        #cart_block h4 span {
            display: none;
        }

        #cart_block h4 a {
            font-weight: bold;
            display: block;
            padding: 0px 0px 16px;
            background: url('../images/double_border.png') repeat-x scroll 0px bottom transparent;
            font: bold 13px "Georgia";
            color: #000;
            text-transform: uppercase;
        }


    #cart_block .block_content {
    }

    #cart_block #cart_block_no_products {
        padding: 15px 0;
        font: 12px "Georgia";
        color: #000;
        text-transform: uppercase;
    }

    #cart_block #cart_block_summary {
        padding: 10px 0 0 0;
    }

        #cart_block #cart_block_summary span {
            color: #000;
            zoom: 1;
        }

            #cart_block #cart_block_summary span.ajax_cart_total {
                margin: 0 0 0 5px;
                font-weight: bold;
            }

    #cart_block dl {
        padding: 10px 0 15px 0;
    }

        #cart_block dl dt {
            height: 15px;
            padding: 5px 0 0 0;
            clear: both;
        }

        #cart_block dl dd {
            clear: both;
        }

    #cart_block span.quantity-formated {
        padding: 0 2px 0 0;
        float: left;
        font: normal 10px/17px "Arial";
        letter-spacing: 1px;
    }

        #cart_block span.quantity-formated span.quantity {
            font-size: 10px;
        }

    #cart_block dl a {
        text-decoration: underline;
    }

        #cart_block dl a:hover {
            text-decoration: none;
        }

    #cart_block dl dt a {
        float: left;
    }

    #cart_block dl dt span.price {
        float: right;
        color: #000;
    }

    #cart_block dl dd a {
        padding: 0 0 0 14px;
        font-size: 11px;
        font-style: italic;
    }

    #cart_block a.ajax_cart_block_remove_link {
        width: 11px;
        height: 13px;
        margin: 0 0 0 5px;
        float: right;
        font-size: 0;
        display: block;
        background: url(../images/icon/delete.gif) 0 bottom no-repeat;
    }

        #cart_block a.ajax_cart_block_remove_link:hover {
            text-decoration: none;
        }

    #cart_block table#vouchers {
        width: 100%;
        margin: 0 0 17px 0;
    }

        #cart_block table#vouchers tr td.price {
            font-weight: bold;
            text-align: right;
        }

        #cart_block table#vouchers tr td.delete {
            width: 16px;
            text-align: right;
        }

            #cart_block table#vouchers tr td.delete a {
                width: 11px;
                height: 13px;
                font-size: 0;
                display: block;
                float: right;
                background: url(../images/icon/delete.gif) 0 bottom no-repeat;
            }

                #cart_block table#vouchers tr td.delete a img {
                    display: none;
                }

    #cart_block ul.cart_block_customizations {
        padding: 0 0 0 13px;
    }

        #cart_block ul.cart_block_customizations li {
            font: 11px/15px "Arial";
        }

        #cart_block ul.cart_block_customizations div.deleteCustomizableProduct {
            width: 11px;
            float: right;
        }

            #cart_block ul.cart_block_customizations div.deleteCustomizableProduct a {
                float: right;
                margin: 0;
                padding: 0;
                font-size: 0;
            }

    #cart_block div.cart-prices {
    }

        #cart_block div.cart-prices > div {
            height: 27px;
            background: #000;
        }

            #cart_block div.cart-prices > div + div {
                margin: 10px 0 0 0;
            }

        #cart_block div.cart-prices span {
            float: left;
            padding: 5px 0 0 6px;
            font: 13px "Georgia";
            color: #fff;
            text-transform: uppercase;
        }

            #cart_block div.cart-prices span#cart_block_shipping_cost,
            #cart_block div.cart-prices span#cart_block_total,
            #cart_block div.cart-prices span#cart_block_wrapping_cost,
            #cart_block div.cart-prices span#cart_block_tax_cost {
                float: right;
                padding: 5px 6px 0 0;
                font: 12px "Georgia";
            }

    #cart_block p#cart-price-precisions {
        padding: 11px 0 0 0;
    }

    #cart_block p#cart-buttons {
        padding: 11px 0 0 0;
        overflow: hidden;
    }

        #cart_block p#cart-buttons a {
            padding: 0;
        }

            #cart_block p#cart-buttons a.button_mini {
                width: 57px;
                float: left;
                margin: 0 1px 0 0;

            }

            #cart_block p#cart-buttons a.button_small {
                width: 82px;
                float: left;
             
                text-align:center;
                background: #969696;
            }

                #cart_block p#cart-buttons a.button_small:hover {
                    background: #222;
                }
/*button style*/
a.button_mini, a.button_small, a.button, a.button_large,
a.exclusive_mini, a.exclusive_small, a.exclusive, a.exclusive_large,
span.button_mini, span.button_small, span.button, span.button_large,
span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large {
    height: 27px !important;
    display: inline-block;
    padding: 0 10px;
    background: #222;
    border: none;
    font: normal 11px "Georgia" !important;
    color: #fff !important;
    text-decoration: none !important;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    -moz-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    -webkit-transition: background 0.5s ease;
}

/* tmspecials */
#tmspecials {
}

    #tmspecials .block_content {
        padding: 17px 0 0 0;
    }

    #tmspecials a.product_image img {
        border: 1px solid #000;
    }

    #tmspecials h5 {
        padding: 10px 0 2px 0;
    }

        #tmspecials h5 a {
            font: bold 12px "Georgia";
            color: #1c1c1c;
            text-transform: uppercase;
        }

            #tmspecials h5 a:hover {
                color: #888;
            }

    #tmspecials span.price {
        font: bold 19px "Georgia";
        color: #1c1c1c;
    }

    #tmspecials span.price-discount {
        font: normal 17px "Georgia";
        color: #888;
        text-decoration: line-through;
    }

    #tmspecials .exclusive {
        margin: 10px 0 0 0;
    }
/* —————————————————————————————— footer styles —————————————————————————————— */
#footer {
    width: 1060px;
    height: 279px;
    clear: both;
    margin: 0 0 0 -20px;
    background: url(../images/bg_footer.png) 0 0 no-repeat;
}


/* ————— tmfooterlinks.tpl ————— */
#tmfooterlinks {
    width: 620px;
    margin: 0 auto;
    padding: 15px 0 0 0;
}

    #tmfooterlinks div {
        width: 191px;
        float: left;
    }

        #tmfooterlinks div + div {
            width: 190px;
            padding: 0 0 0 49px;
            background: url(../images/footerlinks.png) 0 52px no-repeat;
        }

            #tmfooterlinks div + div + div {
                width: 140px;
                padding: 0 0 0 50px;
                background: url(../images/footerlinks.png) 0 52px no-repeat;
            }

    #tmfooterlinks h4 {
        padding: 31px 0 0 0;
        font: bold 13px "Georgia";
        color: #fff;
        text-transform: uppercase;
    }

    #tmfooterlinks ul {
        padding: 6px 0 0 0;
    }

        #tmfooterlinks ul li {
            padding: 5px 0 0 8px;
            background: url(../images/bullet_footer.png) 0 12px no-repeat;
        }

            #tmfooterlinks ul li a {
                font: 10px "Georgia";
                color: #c7c7c7;
                text-decoration: none;
                text-transform: uppercase;
            }

                #tmfooterlinks ul li a:hover {
                    color: #fff;
                }

    #tmfooterlinks p {
        padding: 64px 0 0 0;
        clear: both;
        font: 12px "Georgia";
        color: #666666;
        text-align: center;
    }

        #tmfooterlinks p a {
            font: 12px "Georgia";
            color: #666666;
            text-decoration: none;
        }

            #tmfooterlinks p a:hover {
                color: #000;
            }
			/*Login*/
			#order_steps {
    width: 550px;
    height: 56px;
    overflow: hidden;
    margin: 20px 0px 0px;
    background-image: url('../images/order_steps.png');
    background-repeat: no-repeat;
}
#order_steps li {
    width: 110px;
    height: 56px;
    float: left;
}
#order_steps li a {
    font-weight: bold;
    color: #9C9C9C;
    text-decoration: none;
}
ul.step2 {
    background-position: 0px -56px;
}
#order_steps li a, #order_steps li span {
    width: 100px;
    height: 22px;
    display: block;
    padding: 34px 0px 0px 10px;
    font: 12px "Arial";
}
#order_steps li.step_current span {
    font-weight: bold;
    color: #FFF;
}
#order_steps li span {
    color: #A1A1A1;
}
#create-account_form {
    width: 48%;
    clear: none;
    float: left;
    margin: 0px 4% 0px 0px;
}

#create-account_form p.text, #login_form p.text {
    width: 220px;
    padding: 15px 0px 0px;
}
#create-account_form label, #authentication #login_form label {
    display: block;
    clear: both;
    text-align: left;
    padding: 0px 0px 5px;
}
form.std .text input, form.std .password input {
    width: 212px;
    height: 25px;
}
form.std input[type="text"], form.std input[type="password"], form.std input[type="file"], form.std textarea {
    padding: 3px;
	
    background: none repeat scroll 0% 0% #F1F1F1;
    border: 1px solid #F1F1F1;
    transition: border-color 0.6s ease 0s;
}
#create-account_form p.submit, #authentication #login_form p.submit {
    padding: 18px 0px 0px;
}
input.button_large:hover, a.button_large:hover, input.exclusive_large:hover, a.exclusive_large:hover {
}
input.button_mini:hover, a.button_mini:hover, input.button_small:hover, a.button_small:hover, input.button:hover, a.button:hover, input.button_large:hover, a.button_large:hover, input.exclusive_mini:hover, a.exclusive_mini:hover, input.exclusive_small:hover, a.exclusive_small:hover, input.exclusive:hover, a.exclusive:hover, input.exclusive_large:hover, a.exclusive_large:hover {
    background: none repeat scroll 0% 0% #969696;
    text-decoration: none !important;
    transition: #000 0.2s ease 0s;
}
input.button_mini, input.button_small, input.button, input.button_large, input.button_mini_disabled, input.button_small_disabled, input.button_disabled, input.button_large_disabled, input.exclusive_mini, input.exclusive_small, input.exclusive, input.exclusive_large, input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled, a.button_mini, a.button_small, a.button, a.button_large, a.exclusive_mini, a.exclusive_small, a.exclusive, a.exclusive_large, span.button_mini, span.button_small, span.button, span.button_large, span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large {
    height: 27px !important;
    display: inline-block;
    padding: 0px 10px;
    background: none repeat scroll 0% 0% #222;
    border: medium none;
    font: 11px "Georgia" !important;
    color: rgb(255, 255, 255) !important;
    text-decoration: none !important;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: #000 0.5s ease 0s;
}
input.button_mini, input.button_small, input.button, input.button_large, input.button_mini_disabled, input.button_small_disabled, input.button_disabled, input.button_large_disabled, input.exclusive_mini, input.exclusive_small, input.exclusive, input.exclusive_large, input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled {
    padding-bottom: 2px;
}
form.std h3 {
    margin: 0px;
    padding: 17px 5px 7px 0px;
    border-width: 0px 0px 1px;
    border-style: solid;
}
#create-account_form h4, #login_form h4 {
    height: 45px;
    margin: 0px;
    padding: 15px 0px 0px;
}
a.button_mini, a.button_small, a.button, a.button_large, a.exclusive_mini, a.exclusive_small, a.exclusive, a.exclusive_large, span.button_mini, span.button_small, span.button, span.button_large, span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large {
    line-height: 27px !important;
}
/* form*/
form.std .text label, form.std .password label, form.std .textarea label, form.std .select label, form.std .select span, form.std .radio span, form.std .checkbox span {
    float: left;
    text-align: right;
    width: 150px;
    padding: 4px 7px 0px 0px;
    font: 12px "Arial";
    color: #555;
}
form.std .select select {
    width: 220px;
    height: 23px;
    padding: 2px;
}
form.std select {
    padding: 3px;
    background: none repeat scroll 0% 0% #F1F1F1;
    border: 1px solid #F1F1F1;
}

input[type="text"], input[type="password"], input[type="file"], textarea, select {

    background: none repeat scroll 0% 0% #FFF;
    border: 1px solid #CCC;
    font: 12px "Arial";
    color: #555;
}
form.std .textarea {
    margin: 0px;
    padding: 15px 0px 0px;
}
form.std h4, form.std p {
}
#message {
    width: 400px !important;
    height: 200px !important;
}
form.std .textarea textarea {
    min-width: 212px;
}
p#desc_contact0,
p#desc_contact1,
p#desc_contact2 {height:15px;padding:11px 0 0 157px;}

form.std p.file_input input {
    height: 21px;
	
}
form.std p.submit {
    margin: 0px;
    padding: 20px 0px 0px 0px;
}
/* product*/
ol, ul {
    list-style: none outside none;
}
.product_sort {
    padding: 24px 0px 0px;
    overflow: hidden;
}
.product_sort #productsSortForm {
    float: left;
}
.product_sort ul {
    float: right;
}
.product_sort ul li#product_view_grid.current {
    background-position: 0px -24px;
}
.product_sort ul li#product_view_list {
    background-position: 0px -48px;
}
.product_sort ul li + li {
    margin: 0px 0px 0px 10px;
}

.product_sort ul li#product_view_grid {
    background-position: 0px 0px;
}
}
#p-search {
    transition: margin-right 250ms ease 0s;
	  margin-right: 1em;
	  float: left;
margin-right: 0.5em;
margin-left: 0.5em;
}
#p-search form, #p-search input {
    margin: 0.4em 0px 0px;
}
div#simpleSearch {
	display: block;
	height: 1.4em;
	position: relative;
	min-height: 1px;
	border: 1px solid #AAA;
	color: #000;
	background-color: #FFF;
	background-image: url('../images/(PNG Image, 1 × 16 pixels).png');
	background-position: left top;
	background-repeat: repeat-x;
	width: 12em;
}
div#simpleSearch #searchInput {
    top: 0px;
    left: 0px;
    width: 90%;
    padding: 0.2em 0px 0.2em 0.2em;
    font-size: 13px;
    direction: ltr;
}
div#simpleSearch input {
    position: absolute;
    margin: 0px;
    padding: 0px;
    border: 0px none;
    background-color: transparent;
    color: #000;
}
#searchform
{
	float: left;
	display: inline-block;
	padding-left: 3em;
}
div#simpleSearch #searchButton, div#simpleSearch #mw-searchButton {
    top: 0px;
    right: 0px;
	
    width: 10%;
    height: 100%;
    cursor: pointer;
    text-indent: 200%;
    line-height: 1;
    direction: ltr;
    white-space: nowrap;
    overflow: hidden;
    background-image: linear-gradient(transparent, transparent), url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEyIiBoZWlnaHQ9IjEzIj48ZyBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZT0iIzZjNmM2YyIgZmlsbD0ibm9uZSI+PHBhdGggZD0iTTExLjI5IDExLjcxbC00LTQiLz48Y2lyY2xlIGN4PSI1IiBjeT0iNSIgcj0iNCIvPjwvZz48L3N2Zz4=');
    background-position: center center;
    background-repeat: no-repeat;
}

.product_sort ul li {
    width: 25px;
    height: 24px;
    float: left;
    background-image: url('../images/product_view.png');
    background-repeat: no-repeat;
    cursor: pointer;
}
#center_column .bordercolor, #center_column table.std th, #center_column table.std td, #center_column form.std h3 {
    border-color: rgb(0, 0, 0) !important;
}
#product_list_grid ul li h3 {
    padding: 17px 0px 0px;
}
#product_list_grid ul li {
    width: 33.3%;
    float: left;
    margin: -1px 0px 0px;
    padding: 20px 0px;
    overflow: hidden;
    border-width: 1px 0px;
    border-style: solid;
    text-align: center;
}
.center_column h2, .center_column h3, .center_column h4 {
    margin: 0px 0px -3px;
    padding: 17px 0px 0px;
    font: bold 12px "Georgia";
    color: #000;
    text-transform: uppercase;
}
#product_list_grid {
    margin: 20px 0px 0px;
    border-width: 1px 0px;
    border-style: solid;
}
#product_list_grid ul li span.price {
    display: block;
    margin: 0px 0px -3px;
    padding: 17px 0px 0px;
    font: bold 19px "Georgia";
}
#center_column span.price {
    font-weight: bold;
    color: #1C1C1C;
}


#product_list_list ul li div.center_block {
    width: 290px;
    float: left;
    margin: 0px 0px 0px 20px;
}
#product_list_list ul li div.center_block div.product_flags {
    overflow: hidden;
    margin: 0px 0px -3px;
}
#product_list_list ul li div.center_block div.product_flags span.new {
    color: #1C1C1C;
}

#product_list_list ul li div.center_block div.product_flags span.availability {
}

#product_list_list ul li div.center_block div.product_flags span {
    height: 15px;
    display: block;
    float: left;
    font-weight: bold;
}
#center_column .bordercolor, #center_column table.std th, #center_column table.std td, #center_column form.std h3 {
    border-color: rgb(0, 0, 0) !important;
}
#product_list_list ul li div.center_block div.product_flags span.online_only {
}
#product_list_list ul li div.center_block div.product_flags span + span {
    margin: 0px 0px 0px 7px;
    padding: 0px 0px 0px 7px;
    border-left-width: 1px;
    border-left-style: solid;
}
}
a.product_link {
    font: bold 12px "Georgia";
    color: #1C1C1C;
    text-decoration: none;
    text-transform: uppercase !important;
}
#product_list_list ul li div.center_block p.product_desc {
    padding: 21px 0px 0px;
}
.center_column p {
    margin: 0px 0px -3px;
    padding: 17px 0px 0px;
    color: #888;
}
a.product_descr {
    font: 11px "Georgia";
    color: #888;
    text-decoration: none;
    text-transform: none !important;
}
#product_list_list ul li div.right_block {
    width: 150px;
    float: right;
    position: relative;
}
#product_list_list ul li div.right_block span.on_sale, #product_list_list ul li div.right_block span.discount {
    position: absolute;
    left: 0px;
    top: 0px;
}
span.on_sale, span.discount {
    font: bold 12px "Arial";
    color: #888;
    text-transform: uppercase;
}
#product_list_list ul li div.right_block span.price {
    display: block;
    padding: 29px 0px 0px;
    font: bold 19px "Georgia";
}
.checkbox label, .radio label {
    width: auto;
    padding: 0px 0px 0px 3px;
}
#product_list_list ul li {
    height: 200px;
    padding: 20px 0px;
    border-top-width: 1px;
    border-top-style: solid;
}
#product_list_list ul li a.product_img_link {
    width: 138px;
    height: 138px;
    display: block;
    float: left;
    margin: 31px 0px 0px;
}
.product_sort ul li#product_view_list.current {
    background-position: 0px -72px;
}
#product_list_list ul li div.right_block .exclusive {
    margin: 20px 0px 5px;
}

#Aboutcolum{
	margin: 20px 2px 5px;
	width:49%;
	float:left;
	display:inline-block;
	
}
#Aboutcolum a {
	display: block;
	float: left;
}
#Aboutcolum a p {
	width:120px;
	display: block;
	float: left;
}
#Aboutcolum  img {
	display:inline-block;
	float:left;
	padding: 0em 1em 1em
}
#advancesearch
{
	display:inline-block;
	font-size:9px;
	margin-left: 10px;
margin-top: -5px;
}
#advancedsearch{
	margin-left: 10px;
}
#advancedsearch a,#advancedsearch label {
	width:20%;
	display:inline-block;
	
}
#advancedsearch .advancedcontent{
	display:block;
	margin:20px 20px 20px 0px;
}
#advancedsearch input,#advancedsearch select {
	width:40%;
	height:25px;
	display:inline-block;

}

/*dau gach ngang*/
@media print {

    * {
        background: none!important;
        background-color: white!important;
    }

    div#left_column, div#right_column, div#footer, a.button, span.button, .button, ul#usefull_link_block, div#header_user, #languages_block_top,
    #search_block_top, #currencies_block_top, ul#header_links, ul.idTabs, #availability_statut br {
        display: none;
    }

    div#center_column {
        width: 100%;
    }

    input.text {
        border: 1px solid gray;
    }

    .block_hidden_only_for_screen {
        display: block;
        margin-top: 1em;
    }

    #more_info_sheets #idTab1 {
        width: 530px;
    }
}
