﻿/* —————————————————————————————— clear.css —————————————————————————————— */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, textarea
{margin:0;padding:0;border:0;outline:0;font-size:12px;font-weight:normal;vertical-align:top;background:transparent;outline:none;}
b {font-weight:bold;}
i {font-style:italic;}
ol, ul {list-style:none;}
blockquote, q {quotes:none;}
table {border-collapse:collapse;border-spacing:0;}
a, span {vertical-align:baseline;}
img {vertical-align:top;text-decoration:none;}





/* —————————————————————————————— general styles —————————————————————————————— */
html, body {width:100%;height:100%;}
body {font:normal 12px "Arial", Arial, Helvetica, sans-serif;color:#888;}

.bold {font-weight:bold;}
.strike {text-decoration:line-through;}
.clear {clear:both;}
br.clear {height:0;clear:both;overflow:hidden;font-size:0;line-height:0;}
noscript ul {list-style-type:none;background:black;color:white;padding:10px;}

.clearfix:after {clear:both;display:block;height:0;font-size:0;visibility:hidden;content:".";}
.clearblock {height:0;clear:both;overflow:hidden;font-size:0;line-height:0;}

.hidden,
.collapsed,
.block_hidden_only_for_screen {display:none;}

.center_column p {margin:0 0 -3px 0;padding:17px 0 0 0;color:#888;}
.center_column a {color:#333;text-decoration:underline;}
.center_column a:hover {text-decoration:none;}

#center_column h1 {padding:0 0 16px 0;background:url(../images/double_border.png) 0 bottom repeat-x;font:bold 13px "Georgia";color:#000;text-transform:uppercase;}
#center_column h1 span {margin-left:15px;font-size:12px;font-weight:normal;color:#777;text-transform:none;}

.center_column h2,
.center_column h3,
.center_column h4 {margin:0 0 -3px 0;padding:17px 0 0 0;font:bold 12px "Georgia";color:#000;text-transform:uppercase;}

a.product_link {font:bold 12px "Georgia";color:#1c1c1c;text-decoration:none;text-transform:uppercase !important;}
a.product_link:hover {color:#888;}

a.product_descr {font:11px "Georgia";color:#888;text-decoration:none;text-transform:none !important;}
a.product_descr:hover {color:#1c1c1c;}


/* prices display style */
span.pricecolor {color:#1c1c1c;}

table#cart_summary td.price,
#center_column span.price {font-weight:bold;color:#1c1c1c;}


/* ON SALE and DISCOUNT states */
span.on_sale,
span.discount {font:bold 12px "Arial";color:#888;text-transform:uppercase;}


/* global border color */
#center_column .bordercolor,
#center_column table.std th,
#center_column table.std td,
#center_column form.std h3 {border-color:#000 !important;}


/* optional background color */
#center_column .bgcolor,
#center_column table.std th {background-color:#f5f5f5;}


/* instant search */
#old_center_column {display:none;}
#instant_search_results a {margin-left:20px;text-transform:none;color:#000;}
div.instant_search_results {}


/* footer links */
ul.footer_links {height:16px;clear:both;padding:20px 0 0 0;}
ul.footer_links li {height:16px;float:left;margin:0 25px 0 0;}
ul.footer_links li a {line-height:17px;text-decoration:none;}
ul.footer_links li a:hover {color:#888;}
ul.footer_links li img.icon {margin:0 5px 0 0;}


/* id_state field in managed via JS and is firstly hidden */
form p.id_state {display:none;}


/* errors */
div.error {background:#da0f00;margin:20px 0 0 0;padding:10px 13px;}
div.error p {padding:0;font-weight:bold;color:#fff;}
div.error b {color:#fff;}
div.error li {padding:10px 0 0 0;list-style-position:inside;list-style-type:decimal;color:#eee;}


/* warning */
p.warning {background:#f8e1a0;margin:20px 0 0 0;padding:10px 13px;font:bold 12px "Arial";color:#000;}
.warning_inline {color:#ff0000;font-weight:bold;}


/* success && confirmation */
p.success,
p.confirmation {margin:20px 0 0 0;padding:10px 13px;background:#33a33b;font:bold 12px "Arial";color:#fff;}

.success_inline {color:#33a33b;font-weight:bold;}





/* —————————————————————————————— layout —————————————————————————————— */
#wrapper1 {min-width:1100px;min-height:100%;background:url(../images/bg_pattern.jpg);}
#wrapper2 {height:100%;padding:62px 0;}
#wrapper3 {width:1020px;margin:0 auto;text-align:left;background:#fff;}

#columns {float:left;margin:11px 0 0 40px;padding:49px 0 0 0;background:url(../images/double_border.png) 0 0 repeat-x;}
body#index #columns {float:left;margin:0 0 0 40px;padding:49px 0 0 0;background:none;}

#left_column {float:left;width:140px;}

#center_column {width:620px;float:left;margin:0 0 19px 20px;}

#right_column {width:140px;float:left;margin:0 0 0 20px;}





/* ——————————————————————————————————— rte ——————————————————————————————————— */
body#cms div.content_only {padding:0 20px 20px 20px;background:#fff;color:#000;text-align:left;}

body#cms div.content_only h1 {padding:14px 0 0 0;font:normal 18px "Arial";color:#777;text-transform:uppercase;}
body#cms div.content_only h2 {padding:14px 0 0 0;font:bold 14px "Arial";color:#777;text-transform:uppercase;}
body#cms div.content_only h3 {padding:14px 0 0 0;font:bold 12px "Arial";color:#777;text-transform:uppercase;}
body#cms div.content_only h4,
body#cms div.content_only h5,
body#cms div.content_only h6 {padding:14px 0 0 0;font:normal 12px "Arial";color:#777;text-transform:uppercase;}

body#cms div.content_only p {padding-top:12px;font:normal 12px "Arial";color:#000;}
body#cms div.content_only a {font:normal 12px "Arial";color:#0753b4;text-decoration:none;}
body#cms div.content_only a:hover {color:#000;}

body#cms div.content_only ul {list-style-type:circle;list-style-position:inside;}
body#cms div.content_only ol {list-style-type:decimal;list-style-position:inside;}

div.rte strong {font-weight:bold;}
div.rte em {font-style:italic;}

div.rte table {border-collapse:separate;border-spacing:1px;width:auto;}

div.rte caption,
div.rte th,
div.rte td,
div.rte table {text-align:left;font-weight:normal;background:none;height:inherit;border:1px #eee solid;font:normal 12px "Arial";color:#000;text-align:center;}

div.rte th {height:24px;padding:0 7px;background:#eee;font-weight:bold;}





/* ——————————————————————————————————— mce ——————————————————————————————————— */
.mceContentBody {width:500px;margin:9px 6px;background:#fff;font:normal 12px "Arial";color:#000;text-align:left;}
body.mceContentBody {background-image:none;}

.mceContentBody html, .mceContentBody div, .mceContentBody span, .mceContentBody applet, .mceContentBody object, .mceContentBody iframe, .mceContentBody h1,
.mceContentBody h2, .mceContentBody h3, .mceContentBody h4, .mceContentBody h5, .mceContentBody h6, .mceContentBody p, .mceContentBody blockquote,
.mceContentBody pre, .mceContentBody a, .mceContentBody abbr, .mceContentBody acronym, .mceContentBody address, .mceContentBody big, .mceContentBody cite,
.mceContentBody code, .mceContentBody del, .mceContentBody dfn, .mceContentBody em, .mceContentBody font, .mceContentBody img, .mceContentBody ins,
.mceContentBody kbd, .mceContentBody q, .mceContentBody s, .mceContentBody samp, .mceContentBody small, .mceContentBody strike, .mceContentBody strong,
.mceContentBody sub, .mceContentBody sup, .mceContentBody tt, .mceContentBody var, .mceContentBody dl, .mceContentBody dt, .mceContentBody dd,
.mceContentBody ol, .mceContentBody ul, .mceContentBody li, .mceContentBody fieldset, .mceContentBody form, .mceContentBody label, .mceContentBody legend,
.mceContentBody table, .mceContentBody caption, .mceContentBody tbody, .mceContentBody tfoot, .mceContentBody thead, .mceContentBody tr, .mceContentBody th,
.mceContentBody td {
margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;
}

.mceContentBody h1 {padding:14px 0 0 0;font:normal 18px "Arial";color:#777;text-transform:uppercase;}
.mceContentBody h2 {padding:14px 0 0 0;font:bold 14px "Arial";color:#777;text-transform:uppercase;}
.mceContentBody h3 {padding:14px 0 0 0;font:bold 12px "Arial";color:#777;text-transform:uppercase;}
.mceContentBody h4,
.mceContentBody h5,
.mceContentBody h6 {padding:14px 0 0 0;font:normal 12px "Arial";color:#777;text-transform:uppercase;}

.mceContentBody p {margin:7px;font:normal 12px "Arial";color:#000;}
.mceContentBody a {font:normal 12px "Arial";color:#0753b4;text-decoration:underline;}

.mceContentBody ul {list-style-type:circle;list-style-position:inside;}
.mceContentBody ol {list-style-type:decimal;list-style-position:inside;}

.mceContentBody strong {font-weight:bold;}
.mceContentBody em {font-style:italic;}

.mceContentBody table {border-collapse:separate;border-spacing:1px;width:auto;}

.mceContentBody caption,
.mceContentBody th,
.mceContentBody td,
.mceContentBody table {text-align:left;font-weight:normal;background:none;height:inherit;border:1px #eee solid;font:normal 12px "Arial";color:#000;text-align:center;}

.mceContentBody th {height:24px;padding:0 7px;background:#eee;font-weight:bold;}





/* —————————————————————————————— buttons —————————————————————————————— */
/*
   -tags: input, a, span
   -sizes: mini, small, normal, large
   -types: button, exlusive
   -status: normal, hover, disabled
   -rule: the span.button is a a.button disabled
*/

/* global button */
input.button_mini, input.button_small, input.button, input.button_large,
input.button_mini_disabled, input.button_small_disabled, input.button_disabled, input.button_large_disabled,
input.exclusive_mini, input.exclusive_small, input.exclusive, input.exclusive_large,
input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled,
a.button_mini, a.button_small, a.button, a.button_large,
a.exclusive_mini, a.exclusive_small, a.exclusive, a.exclusive_large,
span.button_mini, span.button_small, span.button, span.button_large,
span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large 
{height:27px !important;display:inline-block;padding:0 10px;background:#222;border:none;font:normal 11px "Georgia" !important;color:#fff !important;text-decoration:none !important;text-align:center;text-transform:uppercase;cursor:pointer;-moz-transition:background 0.5s ease;-o-transition:background 0.5s ease;-webkit-transition:background 0.5s ease;}

/* link/span button */
a.button_mini, a.button_small, a.button, a.button_large,
a.exclusive_mini, a.exclusive_small, a.exclusive, a.exclusive_large,
span.button_mini, span.button_small, span.button, span.button_large,
span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large {line-height:27px !important;}

/* firefox padding fix for input tag */
@-moz-document url-prefix() {
input.button_mini, input.button_small, input.button, input.button_large,
input.button_mini_disabled, input.button_small_disabled, input.button_disabled, input.button_large_disabled,
input.exclusive_mini, input.exclusive_small, input.exclusive, input.exclusive_large,
input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled
{padding-bottom:2px;}
}

/* disabled button */
input.button_mini_disabled, input.button_small_disabled, input.button_disabled, input.button_large_disabled,
input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled,
span.button_mini, span.button_small, span.button, span.button_large,
span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large {cursor:default;color:#7c7c7c !important;}

/* hover buttons */
input.button_mini:hover, a.button_mini:hover, input.button_small:hover, a.button_small:hover,
input.button:hover, a.button:hover, input.button_large:hover, a.button_large:hover,
input.exclusive_mini:hover, a.exclusive_mini:hover, input.exclusive_small:hover, a.exclusive_small:hover,
input.exclusive:hover, a.exclusive:hover, input.exclusive_large:hover, a.exclusive_large:hover {background:#969696;text-decoration:none !important;-moz-transition:background 0.2s ease;-o-transition:background 0.2s ease;-webkit-transition:background 0.2s ease;}

/* all buttons */
input.button_mini, input.button_mini_disabled, a.button_mini, span.button_mini,
input.exclusive_mini, input.exclusive_mini_disabled, a.exclusive_mini, span.exclusive_mini {background-position:;}

input.button_mini:hover, a.button_mini:hover,
input.exclusive_mini:hover, a.exclusive_mini:hover {background-position:;}

input.button_small, input.button_small_disabled, a.button_small, span.button_small,
input.exclusive_small, input.exclusive_small_disabled, a.exclusive_small, span.exclusive_small {background-position:;}

input.button_small:hover, a.button_small:hover,
input.exclusive_small:hover, a.exclusive_small:hover {background-position:;}

input.button, input.button_disabled, a.button, span.button,
input.exclusive, input.exclusive_disabled, a.exclusive, span.exclusive {background-position:;}

input.button:hover, a.button:hover,
input.exclusive:hover, a.exclusive:hover {background-position:;}

input.button_large, input.button_large_disabled, a.button_large, span.button_large,
input.exclusive_large, input.exclusive_large_disabled, a.exclusive_large, span.exclusive_large {background-position:;}

input.button_large:hover, a.button_large:hover,
input.exclusive_large:hover, a.exclusive_large:hover {background-position:;}





/* —————————————————————————————— global table styles —————————————————————————————— */
div.table_block {padding:20px 0 0 0;}
table.std {width:100%;}

table.std th,
table.std td {padding:7px;vertical-align:middle;border-width:1px;border-style:solid;}

table.std tr.item td,
table.std tr.item th {}

table.std tr.alternate_item td,
table.std tr.alternate_item th {}

table.std tbody tr td,
table.std tfoot tr td {}

table.std th {padding:15px 7px;font-weight:bold;color:#1c1c1c;text-align:left;white-space:nowrap;}
table.std tfoot td {color:#1c1c1c;text-align:right;white-space:nowrap;}





/* —————————————————————————————— form styles —————————————————————————————— */
/* global form styles */
label {font:normal 12px "Arial";color:#555;}

input[type=text],
input[type=password],
input[type=file],
textarea,
select {background:#fff;border:1px solid #ccc;font:normal 12px "Arial";color:#555;}

textarea {min-width:300px;width:612px;padding:3px;}


/* std form styles */
form.std {clear:both;}
form.std h3 {margin:0;padding:17px 5px 7px 0;border-width:0 0 1px 0;border-style:solid;}

form.std fieldset {}

form.std h4,
form.std p {}

form.std input[type=text],
form.std input[type=password],
form.std input[type=file],
form.std textarea {padding:3px;background:#f1f1f1;border:1px solid #f1f1f1;
-moz-transition:background-color 0.6s ease;-o-transition:background-color 0.6s ease;-webkit-transition:background-color 0.6s ease;
-moz-transition:border-color 0.6s ease;-o-transition:border-color 0.6s ease;-webkit-transition:border-color 0.6s ease;
}

form.std select {padding:3px;background:#f1f1f1;border:1px solid #f1f1f1;}

form.std input[type=text]:focus,
form.std input[type=password]:focus,
form.std input[type=file]:focus,
form.std textarea:focus {background:#fff;border-color:#ccc;
-moz-transition:background-color 0.3s ease;-o-transition:background-color 0.3s ease;-webkit-transition:background-color 0.3s ease;
-moz-transition:border-color 0.3s ease;-o-transition:border-color 0.3s ease;-webkit-transition:border-color 0.3s ease;
}


/* form labels */
form.std .text label,
form.std .password label,
form.std .textarea label,
form.std .select label,
form.std .select span,
form.std .radio span,
form.std .checkbox span {float:left;text-align:right;width:150px;padding:4px 7px 0 0;font:normal 12px "Arial";color:#555;}

form.std span.inline-infos {display:block;margin:0 0 -3px 0;padding:2px 0 0 157px;font:normal 11px "Arial";color:#555;}

span.editable {padding:0 0 0 5px;font:normal 12px "Arial";color:#555;}

span.form_info {padding:0 0 0 5px;font:normal 12px/23px "Arial";color:#555;}


/* text inputs */
form.std .text,
form.std .password {margin:0;padding:15px 0 0 0;}

form.std .text input,
form.std .password input {width:212px;height:15px;}


/* textarea */
form.std .textarea {margin:0;padding:15px 0 0 0;}
form.std .textarea textarea {min-width:212px;}


/* selects */
form.std .select {margin:0;padding:15px 0 0 0;}
form.std .select select {width:220px;height:23px;padding:2px;}

select#days {width:50px;margin:0 8px 0 0;}
select#months {width:90px;margin:0 8px 0 0;}
select#years {width:58px;}


/* radio & checkboxes */
form.std p.checkbox,
form.std p.radio {margin:0;padding:15px 0 0 0;overflow:hidden;}

form.std p.checkbox {padding-left:157px;}

.checkbox input,
.radio input {display:inline;background:none;border:none;position:relative;left:0;top:1px;}

.checkbox label,
.radio label {width:auto;padding:0 0 0 3px;}


/* submit */
form.std p.submit {margin:0;padding:20px 0 0 157px;}


/* required state */
form.std .required {margin:0;}
form.std .required sup {vertical-align:top;font:normal 13px "Tahoma";color:#da0f00;}
form.std .required_desc {margin:0 0 -3px 0;padding-left:157px;}




/* —————————————————————————————— header styles —————————————————————————————— */
#header {width:1020px;margin:0 0 0 -20px;padding:0 20px;background:url(../images/bg_header.png) 0 44px no-repeat;position:relative;}

#header_logo {width:272px;height:59px;display:block;position:absolute;left:395px;top:101px;}


/* ————— blockuserinfo.tpl ————— */
#header_user {float:left;}
#header_user ul {padding:18px 0 0 41px;}
#header_user ul li {float:left;font:9px "Georgia";text-transform:uppercase;}

#header_user ul li,
#header_user ul li a,
#header_user ul li span {font:9px "Georgia";text-decoration:none;}

#header_user #your_account {height:16px;padding:6px 0 0 28px;background:url(../images/header_account.png) 0 0 no-repeat;}
#header_user #your_account a {color:#212121;}
#header_user #your_account a:hover {color:#7c7c7c;}

#header_user #header_user_info {padding:6px 29px 0 28px;color:#1f1f1f;}
#header_user #header_user_info a {color:#7c7c7c;}
#header_user #header_user_info a:hover {color:#1f1f1f;}
#header_user #header_user_info span {color:#1f1f1f;}

#header_user #shopping_cart {height:16px;padding:6px 0 0 28px;background:url(../images/header_cart.png) 0 0 no-repeat;}
#header_user #shopping_cart a {color:#1b1b1b;}
#header_user #shopping_cart a:hover {color:#7c7c7c;}
#header_user #shopping_cart span {color:#1b1b1b;}


/* ————— blocklanguages.tpl ————— */
#languages_block_top {height:16px;float:right;padding:22px 40px 0 0;}
#languages_block_top ul li {float:left;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;-webkit-transition:all 0.5s ease;}
#languages_block_top ul li:hover {-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;-webkit-transition:all 0.5s ease;}
#languages_block_top ul li + li {margin:0 0 0 8px;}
#languages_block_top ul li img {width:22px;height:16px;}


/* ————— blockcurrencies.tpl ————— */
#currencies_block_top {height:16px;float:right;padding:22px 22px 0 0;}
#currencies_block_top label {display:block;float:left;padding:3px 7px 0 0;font:9px "Georgia";color:#1a1a1a;text-transform:uppercase;}
#currencies_block_top select {width:88px;height:16px;background:#000;border:1px solid #000;font:10px "Georgia";color:#fff;text-transform:uppercase;}


/* ————— tmheaderlinks.tpl ————— */
#tmheaderlinks {height:22px;padding:177px 0 0 0;text-align:center;}
#tmheaderlinks li {display:inline;}
#tmheaderlinks li + li {margin:0 0 0 10px;padding:0 0 0 10px;border-left:1px solid #1c1c1c;}
#tmheaderlinks li a {font:bold 12px "Georgia";color:#1c1c1c;text-decoration:none;text-transform:uppercase;}
#tmheaderlinks li a:hover {color:#7c7c7c;}


/* ————— tmnivoslider.tpl ————— */
#tmnivoslider {width:1060px;height:390px;margin:0 0 0 -20px;padding:14px 0 0 0;background:url(../images/slider_bg.png) 0 0 no-repeat;}

#slider {width:1060px;height:390px;overflow:hidden;}

.nivoSlider {position:relative;}
.nivoSlider img {position:absolute;top:0px;left:0px;}
.nivoSlider a.nivo-imageLink {position:absolute;top:0px;left:0px;width:100%;height:100%;border:0;padding:0;margin:0;z-index:60;display:none;}

.nivo-slice {display:block;position:absolute;z-index:50;height:100%;}

.nivo-html-caption {display:none;}

.nivo-caption {position:absolute;left:0;top:0;z-index:89;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader() !important;}
.nivo-caption > p {margin:0;padding:112px 0 0 100px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader() !important;}
.nivo-caption h2 {margin:0;padding:0;font:normal 50px "Georgia";color:#fff;}
.nivo-caption h3 {margin:-10px 0 0 0;padding:0;font:normal 35px "Georgia";color:#fff;}
.nivo-caption p.slide_descr {margin:0;padding:0;clear:both;font:normal 15px "Georgia";color:#747473;text-transform:uppercase;}
.nivo-caption a.slider_btn {display:block;margin:20px 0 0 0;padding:10px 28px 10px 17px;float:left;background:url(../images/slider_arrow.png) right 0 no-repeat #fff;font:normal 13px "Georgia";color:#1a1a1a;text-decoration:none;text-align:center;text-transform:uppercase;}
.nivo-caption a.slider_btn:hover {text-decoration:underline;}


/* ————— tmslider1.tpl ————— */
#tmslider1 {width:1060px;margin:1px 0 0 -20px;overflow:hidden;}

#tmslider1 .slide1 {float:left;}
#tmslider1 .slide2 {float:left;margin:0 0 0 1px;}





/* —————————————————————————————— left && right column blocks styles —————————————————————————————— */
/* ————— general block styles ————— */
div.column {}
div.column a {color:#000;text-decoration:none;}
div.column a:hover {color:#888;}

div.column > div {margin:0 0 33px 0;}

div.column div.block {}

div.column div.block h4 {padding:0 0 16px 0;background:url(../images/double_border.png) 0 bottom repeat-x;font:bold 13px "Georgia";color:#000;text-transform:uppercase;}
div.column div.block h4 a {font:bold 13px "Georgia";}

div.column div.block .block_content {}

div.column div.block ul.bullet {padding-top:8px;}
div.column div.block ul.bullet li {padding:4px 0 0 12px;background:url(../images/bullet.png) 0 8px no-repeat;}


/* ————— blocksearch.tpl ————— */
#search_block_left {}
#search_block_left label {display:block;padding:7px 0;}
#search_block_left #search_button {margin:10px 0 0 0;}

.ac_results {width:300px !important;border:none !important;}
.ac_results ul {}
.ac_results ul li {font:normal 12px "Arial" !important;color:#333;cursor:pointer;}
.ac_results ul li.ac_even {background:#f5f5f5;}
.ac_results ul li.ac_odd {background:#ddd;}
.ac_results ul li:hover {background:#333;color:#fff;}


/* ————— blockcategories.tpl ————— */
#categories_block_left {}

#categories_block_left ul.tree {padding:6px 0 0 0;}
#categories_block_left ul.tree li {border-top:1px solid #e5e5e5;position:relative;}
#categories_block_left ul.tree > li:first-child {border:none;}
#categories_block_left ul.tree li a {display:block;padding:7px 0 7px 8px;background:url(../images/bullet_category.png) 0 12px no-repeat;font:10px "Georgia";text-transform:uppercase;}
#categories_block_left ul.tree li a:hover {}

#categories_block_left ul.tree a.selected {font-weight:bold;}

#categories_block_left ul.tree li ul {}
#categories_block_left ul.tree li ul li {padding:0 0 0 10px;}
#categories_block_left ul.tree li ul li a {}

#categories_block_left span.grower {width:15px;height:15px;display:block;cursor:pointer;position:absolute;right:-3px;top:6px;}
#categories_block_left span.OPEN {background:url(../images/categories_minus.gif) 3px 3px no-repeat;}
#categories_block_left span.CLOSE {background:url(../images/categories_plus.gif) 3px 3px no-repeat;}


/* ————— blockcart.tpl ————— */
#cart_block {}

#cart_block h4 {}
#cart_block h4 span {display:none;}

#cart_block .block_content {}

#cart_block #cart_block_no_products {padding:15px 0;font:12px "Georgia";color:#000;text-transform:uppercase;}

#cart_block #cart_block_summary {padding:10px 0 0 0;}
#cart_block #cart_block_summary span {color:#000;zoom:1;}
#cart_block #cart_block_summary span.ajax_cart_total {margin:0 0 0 5px;font-weight:bold;}

#cart_block dl {padding:10px 0 15px 0;}
#cart_block dl dt {height:15px;padding:5px 0 0 0;clear:both;}
#cart_block dl dd {clear:both;}

#cart_block span.quantity-formated {padding:0 2px 0 0;float:left;font:normal 10px/17px "Arial";letter-spacing:1px;}
#cart_block span.quantity-formated span.quantity {font-size:10px;}

#cart_block dl a {text-decoration:underline;}
#cart_block dl a:hover {text-decoration:none;}
#cart_block dl dt a {float:left;}
#cart_block dl dt span.price {float:right;color:#000;}
#cart_block dl dd a {padding:0 0 0 14px;font-size:11px;font-style:italic;}

#cart_block a.ajax_cart_block_remove_link {width:11px;height:13px;margin:0 0 0 5px;float:right;font-size:0;display:block;background:url(../images/icon/delete.gif) 0 bottom no-repeat;}
#cart_block a.ajax_cart_block_remove_link:hover {text-decoration:none;}

#cart_block table#vouchers {width:100%;margin:0 0 17px 0;}
#cart_block table#vouchers tr td.price {font-weight:bold;text-align:right;}
#cart_block table#vouchers tr td.delete {width:16px;text-align:right;}
#cart_block table#vouchers tr td.delete a {width:11px;height:13px;font-size:0;display:block;float:right;background:url(../images/icon/delete.gif) 0 bottom no-repeat;}
#cart_block table#vouchers tr td.delete a img {display:none;}

#cart_block ul.cart_block_customizations {padding:0 0 0 13px;}
#cart_block ul.cart_block_customizations li {font:11px/15px "Arial";}
#cart_block ul.cart_block_customizations div.deleteCustomizableProduct {width:11px;float:right;}
#cart_block ul.cart_block_customizations div.deleteCustomizableProduct a {float:right;margin:0;padding:0;font-size:0;}

#cart_block div.cart-prices {}
#cart_block div.cart-prices > div {height:27px;background:#000;}
#cart_block div.cart-prices > div + div {margin:10px 0 0 0;}
#cart_block div.cart-prices span {float:left;padding:5px 0 0 6px;font:13px "Georgia";color:#fff;text-transform:uppercase;}

#cart_block div.cart-prices span#cart_block_shipping_cost,
#cart_block div.cart-prices span#cart_block_total,
#cart_block div.cart-prices span#cart_block_wrapping_cost,
#cart_block div.cart-prices span#cart_block_tax_cost {float:right;padding:5px 6px 0 0;font:12px "Georgia";}

#cart_block p#cart-price-precisions {padding:11px 0 0 0;}

#cart_block p#cart-buttons {padding:11px 0 0 0;overflow:hidden;}
#cart_block p#cart-buttons a {padding:0;}
#cart_block p#cart-buttons a.button_mini {width:57px;float:left;margin:0 1px 0 0;}
#cart_block p#cart-buttons a.button_small {width:82px;float:left;background:#969696;}
#cart_block p#cart-buttons a.button_small:hover {background:#222;}


/* ————— tmspecials.tpl ————— */
#tmspecials {}
#tmspecials .block_content {padding:17px 0 0 0;}

#tmspecials a.product_image img {border:1px solid #000;}

#tmspecials h5 {padding:10px 0 2px 0;}
#tmspecials h5 a {font:bold 12px "Georgia";color:#1c1c1c;text-transform:uppercase;}
#tmspecials h5 a:hover {color:#888;}

#tmspecials span.price {font:bold 19px "Georgia";color:#1c1c1c;}
#tmspecials span.price-discount {font:normal 17px "Georgia";color:#888;text-decoration:line-through;}

#tmspecials .exclusive {margin:10px 0 0 0;}


/* ————— products_block styles ————— */
.column .bordercolor {border-color:#eee !important;}

.products_block ul {overflow:hidden;}
.products_block ul li {padding:20px 0 0 0;overflow:hidden;}
.products_block ul li + li {margin:20px 0 0 0;border-width:1px 0 0 0;border-style:solid;clear:both;}

.products_block ul li a.products_block_img {width:66px;height:66px;display:block;border-width:1px;border-style:solid;}

.products_block ul li > div {padding:15px 0 0 0;}

.products_block ul li h5 {}
.products_block ul li + li + li {padding:17px 0 0 0;}
.products_block ul li + li + li + li {margin:17px 0 0 0;}
.products_block ul li p {padding:7px 0 0 0;}

.column a.product_link {font:bold 12px "Georgia";color:#1c1c1c;text-decoration:none;text-transform:uppercase !important;}
.column a.product_link:hover {color:#888;}

.column a.product_descr {font:11px "Georgia";color:#888;text-decoration:none;text-transform:none !important;}
.column a.product_descr:hover {color:#1c1c1c;}

.products_block ul li span.price-discount {text-decoration:line-through;}
.products_block ul li span.reduction {}
.products_block ul li span.price {font-weight:bold;}

.products_block .button_large {width:;margin:17px 0 0 0;}


/* ————— blockspecials.tpl ————— */
#special_block_right ul li {margin:0;}

#special_block_right h5 {padding:12px 0 9px 0;}
#special_block_right h5 a {}

#special_block_right span.price-discount {text-decoration:line-through;}
#special_block_right span.price {font-weight:bold;}


/* ————— blocknewproducts.tpl ————— */


/* ————— blockbestsellers.tpl ————— */
#blockbestsellers ul li + li {padding:14px 0 0 0;}
#blockbestsellers ul li + li + li {margin:0;border:none;}


/* ————— blockviewed.tpl ————— */


/* ————— blocktags.tpl ————— */
#tags_block_left p.block_content {padding-top:17px;}
#tags_block_left p.block_content a {margin:0 3px 0 0;line-height:20px;}
#tags_block_left p.block_content a:hover {}
a.tag_level1 {font-size:13px;}
a.tag_level2 {font-size:15px;}
a.tag_level3 {font-size:17px;font-weight:bold;}


/* ————— blockmyaccount.tpl ————— */
div.column div.myaccount p.logout {padding:4px 0 0 12px;}
div.column div.myaccount p.logout a {font-weight:bold;}


/* ————— blocknewsletter.tpl ————— */
#newsletter_block_left div.block_content {}
#newsletter_block_left input[type=text] {width:138px;height:17px;margin:20px 0 0 0;}
#newsletter_block_left select {width:140px;margin:10px 0 0 0;}
#newsletter_block_left input.button_mini {margin:10px 0 0 0;}


/* ————— blockmanufacturer.tpl && blocksupplier.tpl ————— */
.blockmanufacturer select,
.blocksupplier select {width:140px;margin:8px 0 0 0;}


/* ————— blocklink.tpl ————— */


/* ————— blockrss.tpl ————— */


/* ————— blockadvertising.tpl ————— */
.advertising_block {}


/* ————— blockpaymentlogo.tpl ————— */
div.paiement_logo_block {}
div.paiement_logo_block a {text-decoration:none;}
div.paiement_logo_block img + img {margin:0 0 0 11px;}


/* ————— blockstore.tpl ————— */
#stores_block_left div.block_content {padding-top:12px;}
#stores_block_left p {text-align:left;}
#stores_block_left p a img {width:140px;margin:0 0 10px 0;}





/* —————————————————————————————— center column styles —————————————————————————————— */
/* ————— breadcrumb.tpl ————— */
.breadcrumb {position:relative;}
.breadcrumb_inner {font:10px "Georgia";text-transform:uppercase;position:absolute;left:-160px;top:-28px;}

.breadcrumb .navigation_page,
.breadcrumb .navigation_end,
.breadcrumb .navigation_product {font:10px "Georgia";} 

.breadcrumb .navigation-pipe {padding:0 7px;font:9px "Arial";}

.breadcrumb a {font:10px "Georgia";color:#888;text-decoration:none;}
.breadcrumb a:hover {color:#000;}





/* —————————————————————————————— product pages —————————————————————————————— */
/* ————— homefeatured.tpl ————— */
#featured_products {}
#featured_products h4 {margin:0;padding:0 0 16px 0;background:url(../images/double_border.png) 0 bottom repeat-x;font:bold 13px "Georgia";color:#000;text-transform:uppercase;}
#featured_products ul {width:640px;overflow:hidden;}

#featured_products ul li {width:140px;height:250px;float:left;margin:17px 20px 0 0;position:relative;}

#featured_products ul li .product_image img {border:1px solid #000;}

#featured_products ul li h5 {padding:10px 0 2px 0;}
#featured_products ul li span.price {font:bold 19px "Georgia";}
#featured_products ul li .exclusive {margin:10px 0 0 0;}


/* ————— category.tpl ————— */
#subcategories ul {overflow:hidden;}
#subcategories ul li {float:left;margin:20px 10px 0 0;}
#subcategories ul li a {width:80px;display:block;padding:20px;border-width:1px;border-style:solid;text-decoration:none;}
#subcategories ul li a span {height:30px;display:block;padding:17px 0 0 0;}
#subcategories ul li a:hover {border-color:#888 !important;}


#categoryImage {}


/* ————— product-sort.tpl ————— */
.product_sort {padding:24px 0 0 0;overflow:hidden;}

.product_sort #productsSortForm {float:left;}
.product_sort #productsSortForm label {display:block;float:left;padding:4px 7px 0 0;}
.product_sort #productsSortForm select {width:160px;height:19px;float:left;margin:2px 0 0 0;}

.product_sort ul {float:right;}
.product_sort ul li {width:25px;height:24px;float:left;background-image:url(../images/product_view.png);background-repeat:no-repeat;cursor:pointer;}
.product_sort ul li + li {margin:0 0 0 10px;}

.product_sort ul li#product_view_grid {background-position:0 0;}
.product_sort ul li#product_view_grid.current {background-position:0 -24px;}
.product_sort ul li#product_view_list {background-position:0 -48px;}
.product_sort ul li#product_view_list.current {background-position:0 -72px;}

.box {display:none;}
.box.visible {display:block;}


/* ————— product-compare.tpl ————— */
.product_compare {padding:20px 0 0 0;overflow:hidden;}
.product_compare .button {float:right;}


/* ————— product-list.tpl ————— */
#product_list_list {padding:20px 0 0 0;}
#product_list_list ul {border-bottom-width:1px;border-bottom-style:solid;}
#product_list_list ul li {height:200px;padding:20px 0;border-top-width:1px;border-top-style:solid;}

#product_list_list ul li a.product_img_link {width:138px;height:138px;display:block;float:left;margin:31px 0 0 0;}

#product_list_list ul li div.center_block {width:290px;float:left;margin:0 0 0 20px;}

#product_list_list ul li div.center_block div.product_flags {overflow:hidden;margin:0 0 -3px 0;}
#product_list_list ul li div.center_block div.product_flags span {height:15px;display:block;float:left;font-weight:bold;}
#product_list_list ul li div.center_block div.product_flags span + span {margin:0 0 0 7px;padding:0 0 0 7px;border-left-width:1px;border-left-style:solid;}
#product_list_list ul li div.center_block div.product_flags span.new {color:#1c1c1c;}
#product_list_list ul li div.center_block div.product_flags span.availability {color:#;}
#product_list_list ul li div.center_block div.product_flags span.online_only {color:#;}

#product_list_list ul li div.center_block h3 {padding:24px 0 0 0;}
#product_list_list ul li div.center_block p.product_desc {padding:21px 0 0 0;}

#product_list_list ul li div.right_block {width:150px;float:right;position:relative;}

#product_list_list ul li div.right_block span.on_sale,
#product_list_list ul li div.right_block span.discount {position:absolute;left:0;top:0;}

#product_list_list ul li div.right_block span.price {display:block;padding:29px 0 0 0;font:bold 19px "Georgia";}

#product_list_list ul li div.right_block .exclusive {margin:20px 0 5px 0;}

#product_list_list ul li div.right_block p.compare {height:15px;padding:15px 0 0 0;}


#product_list_grid {margin:20px 0 0 0;border-width:1px 0;border-style:solid;}
#product_list_grid ul {margin:0 0 -1px 0;overflow:hidden;}
#product_list_grid ul li {width:33.3%;float:left;margin:-1px 0 0 0;padding:20px 0;overflow:hidden;border-width:1px 0;border-style:solid;text-align:center;}
#product_list_grid ul li h3 {padding:17px 0 0 0;}
#product_list_grid ul li span.price {display:block;margin:0 0 -3px 0;padding:17px 0 0 0;font:bold 19px "Georgia";}


/* ————— pagination.tpl ————— */
div.pagination {height:27px;padding:20px 0 0 0;}
ul.pagination {float:left;padding:6px 0 0 0;}
ul.pagination li {float:left;margin:0 5px;}

ul.pagination li a {}
ul.pagination li a:hover {}

ul.pagination li.disabled span {color:#aaa;cursor:default;}
ul.pagination li.current span {font-weight:bold;color:#;}

ul.pagination li#pagination_previous {text-transform:capitalize;margin:0 15px 0 0;}
ul.pagination li#pagination_next {text-transform:capitalize;margin:0 0 0 15px;}

form.pagination select {width:45px;height:19px;float:right;margin:4px 0 0 0;}
form.pagination label {display:block;float:right;padding:6px 10px 0 10px;}
form.pagination a {float:right;}

form.pagination input {display:none;}


/* ————— stores.tpl ————— */
div#stores_block p.text label {display:block;float:left;padding:2px 7px 0 0;}
div#stores_block p.text input {width:270px;height:15px;padding:1px;font:normal 12px "Arial";color:#555;}

div#stores_block p.select {padding:20px 0 0 0;}
div#stores_block p.select label {display:block;float:left;padding:2px 7px 0 0;}
div#stores_block p.select select {float:left;}
div#stores_block p.select span {display:block;float:left;padding:2px 7px 0 7px;}
div#stores_block p.select #stores_loader {margin:-2px 0 0 0;display:none;}

div#stores_block input.button {clear:both;margin:10px 0 0 0 !important;}

div#stores_block select#locationSelect {margin:20px 0;visibility:hidden;}

div#stores_block div#map {width:100%;height:400px;}

div#stores_block table#stores-table {margin:20px 0 0 0;display:none;}


/* ————— products-comparison.tpl ————— */
#product_comparison {margin:20px 0 0 0;}

#product_comparison h5 {height:30px;margin:0 20px 0 0;}

#product_comparison th {padding-left:20px;padding-right:20px;}
#product_comparison td {padding:7px 20px;font-weight:bold;}
#product_comparison td.comparison_infos {font-weight:normal;}

#product_comparison td p.product_desc {padding:10px 0 0 0;}
#product_comparison .comparison_product_infos {padding:20px 0 0 0;}
#product_comparison .comparison_product_infos a.cmp_remove {padding:0 0 0 15px;background:url(../images/icon/delete.gif) 0 2px no-repeat;color:#dd0000;text-decoration:none;}
#product_comparison .comparison_product_infos a.button {margin:17px 0 0 0;}
#product_comparison .comparison_product_infos .exclusive {margin:5px 0 13px 0;}
#product_comparison .comparison_product_infos .product_discount {padding:12px 0 0 0;height:15px;}





/* —————————————————————————————— product.tpl —————————————————————————————— */
#primary_block {}


/* ————— left block ————— */
#primary_block #pb-right-column {width:306px;float:left;padding:20px 0 0 0;}


/* product img */
#primary_block #image-block {width:304px;height:304px;border-width:1px;border-style:solid;}
#primary_block #image-block img#bigpic {width:304px;height:304px;cursor:pointer;}
#primary_block #image-block img#bigpic.jqzoom {cursor:crosshair;position:relative;}


/* views block */
#views_block {width:306px;height:82px;margin:10px 0 0 0;position:relative;}

#view_scroll_left,
#view_scroll_right {width:10px;height:0;display:block;padding:80px 0 0 0;overflow:hidden;background:url(../images/arrow_thumbs.gif) 0 0 no-repeat;position:absolute;top:0;}

#view_scroll_left {left:0;}
#view_scroll_right {background-position:0 -80px;right:0;}

#thumbs_list {width:266px;height:82px;margin:0 0 0 20px;overflow:hidden;}
#thumbs_list ul {}
#thumbs_list li {width:82px;height:82px;float:left;margin:0 10px 0 0;cursor:pointer;}
#thumbs_list li a {display:block;border-width:1px;border-style:solid;}
#thumbs_list li.thumb_last {margin:0;}
#thumbs_list li a img {}

span#wrapResetImages {display:none;}
span#wrapResetImages div {width:306px;margin:0 0 -3px 0;padding:17px 0 0 20px;}


/* usefull links */
#primary_block ul#usefull_link_block {margin:0 0 -3px 0;padding:10px 0 0 0;clear:both;overflow:hidden;}
#primary_block ul#usefull_link_block li {padding:7px 0 0 12px;background:url(../images/bullet_alt.png) 0 12px no-repeat;}

#primary_block ul#usefull_link_block li a,
#primary_block ul#usefull_link_block span.span_link {text-decoration:underline;color:#333;cursor:pointer;}

#primary_block ul#usefull_link_block li a:hover,
#primary_block ul#usefull_link_block span.span_link:hover {text-decoration:none;}


/* ————— right block ————— */
#primary_block #pb-left-column {width:294px;float:left;padding:20px 0 0 20px;}
#primary_block #pb-left-column h1 {margin:-6px 0 0 0;padding:0;background:none;font-size:19px;text-transform:none;}

#buy_block {margin:20px 0 0 0;border-width:1px 0 0 0;border-style:solid;}
#buy_block p {}


/* price */
#buy_block div.price {padding:20px 0;overflow:hidden;}

#buy_block span.our_price_display {height:27px;display:block;float:left;}
#buy_block span#our_price_display {display:block;float:left;padding:6px 0 0 0;font:12px "Arial";}

#buy_block span.our_price_display_tax {display:block;float:left;padding:6px 0 0 5px;}


/* quantity */
#buy_block #quantity_wanted_p {float:right;padding:0 10px 0 0;}
#buy_block #quantity_wanted_p label {float:right;padding:6px 7px 0 0;text-align:right;}
#buy_block #quantity_wanted_p #quantity_wanted {width:20px;height:15px;float:right;padding:5px;text-align:center;}


/* add to cart */
#buy_block #add_to_cart {float:right;margin:0;padding:0;}
#buy_block #add_to_cart input {display:none;}


/* minimal quantity (optional) */
#buy_block #minimal_quantity_wanted_p {margin:0;padding:17px 0;border-width:1px 0 0 0;border-style:solid;}
#buy_block #minimal_quantity_wanted_p #minimal_quantity_label {margin:0 5px;}


/* other product options */
#buy_block .other_options {border-width:1px 0 0 0;border-style:solid;}


/* taxes & discounts */
#buy_block #other_prices {width:50%;float:left;padding:10px 0 0 0;}

#buy_block #other_prices,
#buy_block #other_prices p,
#buy_block #other_prices span {font:12px "Arial";}

#buy_block #other_prices > p {width:100%;min-height:18px;margin:0;padding:13px 0 0 0;}

#buy_block #old_price {text-decoration:line-through;}
#buy_block #reduction_percent {}
#buy_block .pack_price {}
#buy_block .price-ecotax {color:#229922;}

#buy_block #pQuantityAvailable {font-weight:bold;}
#buy_block #pQuantityAvailable span {font-weight:bold;color:#1c1c1c;}

#buy_block #last_quantities {font-weight:bold !important;color:#ff0000;}

#buy_block #product_reference label {font-weight:bold;}


/* attributes */
#buy_block #attributes {width:50%;float:right;padding:10px 0 0 0;}
#buy_block #attributes p {margin:0;padding:10px 0 0 0;overflow:hidden;}

#buy_block span.on_sale,
#buy_block span.discount {height:18px;display:block;float:right;margin:10px 0 0 0;padding:3px 7px 0 7px;background:#888;color:#fff;}

#buy_block #attributes label {float:right;padding:3px 7px 0 0;text-align:right;}
#buy_block #attributes select {width:80px;height:21px;float:right;padding:1px;font-size:11px;}


/* short description */
#primary_block #short_description_block {margin:20px 0 0 0;border-width:1px 0 0 0;border-style:solid;}

#primary_block #short_description_content,
#primary_block #short_description_content p {margin:17px 0 0 0;padding:0;}


/* buttons */
#primary_block .buttons_bottom_block {margin:0;}
#primary_block .buttons_bottom_block a {}
#primary_block .buttons_bottom_block input#add2cartbtn {display:none;}


/* pack items */
#primary_block .pack_content {margin:20px 0 0 0;padding:17px 20px;border-width:1px;border-style:solid;}
#primary_block .pack_content h3 {padding:0;}
#primary_block .pack_content ul {}
#primary_block .pack_content ul li {padding:10px 0 0 0;font-size:10px;}
#primary_block .pack_content ul li p {margin:0;padding:0;}


/* color picker */
#primary_block #color_picker {margin:20px 0 0 0;padding:0 20px 20px 20px;border-width:1px;border-style:solid;}
#primary_block #color_picker h3 {}
#primary_block #color_picker ul {padding:10px 0 0 0;overflow:hidden;}
#primary_block #color_picker ul li {display:inline;float:left;margin:0 7px 0 0;}
#primary_block #color_picker ul li a {width:25px;height:25px;display:block;border:1px solid #777;cursor:pointer;}
#primary_block #color_picker ul li a:hover {}

#primary_block a#color_all {cursor:pointer;}


/* quantity discount */
div#quantityDiscount {margin:20px 0 0 0;padding:0 20px 20px 20px;border-width:1px;border-style:solid;}

div#quantityDiscount table {width:100%;margin:20px 0 0 0;}
div#quantityDiscount th {padding:0 0 5px 0;border-width:0 0 1px 0;border-style:solid;font-weight:bold;text-align:left !important;}
div#quantityDiscount td {padding:5px 0 0 0;}


/* ————— tabs ————— */
ul.idTabs {height:27px;padding:20px 0 0 0;clear:both;}
ul.idTabs li {float:left;}
ul.idTabs li a {height:20px;display:block;padding:7px 21px 0 21px;font:12px "Arial";color:#888;text-decoration:none;cursor:pointer;}
ul.idTabs li a.selected {height:21px;padding:6px 20px 0 20px;background:#f5f5f5;border:1px solid #000;border-bottom:none;color:#1c1c1c;}


/* tabs short */
ul.idTabsShort li a {}
ul.idTabsShort li a.selected {}


/* tabs content blocks */
div#more_info_sheets {border-width:1px;border-style:solid;}
div.tabs_content {padding:14px 20px;zoom:1;}


/* idTab1 (product description) */
#idTab1 {padding:0 20px 20px 20px;}

#idTab1 div,
#idTab1 p {margin:17px 0 -3px 0;padding:0;}


/* idTab2 (data sheet) */
#idTab2 {padding:12px 20px 20px 20px;}
#idTab2 li {margin:0 0 -3px 0;padding:5px 0 0 12px;background:url(../images/bullet_alt.png) 0 10px no-repeat;}
#idTab2 li span {font-weight:bold;color:#000;}


/* idTab9 (attachments) */
#idTab9 {padding:12px 20px 20px 20px;}
#idTab9 li {margin:0 0 -3px 0;padding:5px 0 0 12px;background:url(../images/bullet_alt.png) 0 10px no-repeat;}
#idTab9 li a {font-weight:bold;}


/* idTab4 (accessories) */
#idTab4 {padding:20px;}
#idTab4 li {overflow:hidden;}
#idTab4 li + li {margin:20px 0 0 0;padding:20px 0 0 0;border-width:1px 0 0 0;border-style:solid;}

#idTab4 li .accessories_desc {width:340px;float:left;}
#idTab4 li .accessories_desc a.accessory_image {width:80px;height:80px;display:block;float:left;margin:0 20px 0 0;border-width:1px;border-style:solid;}

#idTab4 li .accessories_desc h5 {margin:0 0 7px 0;}

#idTab4 li .accessories_price {width:120px;float:right;}
#idTab4 li .accessories_price span.price {display:block;margin:0 0 7px 0;}



/* idTab5 (product comments) */
#idTab5 {padding:0 20px 20px 20px;}

#idTab5 .comment_criterions {overflow:hidden;}
#idTab5 .comment_criterions > div {float:left;padding:17px 20px 0 0;}
#idTab5 .comment_criterions > div > div {float:left;}

#idTab5 p.comment_none {}
#idTab5 p.align_right {height:11px;padding:0;}
#idTab5 p.align_right a {width:11px;height:0;padding:11px 0 0 0;overflow:hidden;display:block;float:right;background:url(../images/icon/delete.gif) 0 0 no-repeat;}

.rating {cursor:pointer;margin:2em;clear:both;display:block;}
.rating:after {content:'.';display:block;height:0;width:0;clear:both;visibility:hidden;}
.cancel, .star {float:left;width:17px;height:15px;overflow:hidden;text-indent:-999em;cursor:pointer;}
.cancel, .cancel a {background:url(../../../modules/productcomments/img/delete.gif) no-repeat 0 -16px;}
.star, .star a {background:url(../../../modules/productcomments/img/star.gif) no-repeat 0 0;}
.cancel a, .star a {display:block;width:100%;height:100%;background-position:0 0;}
div.star_on a {background-position:0 -16px;}
div.star_hover a,
div.star a:hover {background-position:0 -32px;}

#idTab5 .table_block {}
#idTab5 .table_block th {background:#fff !important;}
#idTab5 .table_block td {}

#idTab5 p.comment_add {margin:0;padding:20px 0 0 0;}

#idTab5 fieldset {}
#idTab5 fieldset p {margin:0;padding:10px 0 0 0;}

#idTab5 fieldset table.comment_rating {margin:17px 0 3px 0;}
#idTab5 fieldset table.comment_rating td {padding:0 10px 0 0;}

#idTab5 fieldset label {display:block;padding:0 0 3px 0;}

#idTab5 fieldset input#customer_name,
#idTab5 fieldset input#comment_title {width:206px;height:15px;padding:3px;}

#idTab5 textarea#content {width:570px !important;min-width:300px;height:100px;}

#idTab5 p.submit {padding:13px 0 0 0;}

#comment_history{margin:0;padding:10px; font-size:12px;color:#333; margin-top:10px; font:"Comic Sans MS", cursive;}

/* customizable products */
.customization_block {padding:0 20px 20px 20px;border-width:1px;border-style:solid;}

.customization_block p {}
.customization_block .customizationUploadBrowseDescription {padding:7px 0 0 0;}
.customization_block p img {margin:0 2px 0 0;}

.customization_block h2 {padding:17px 0 10px 0;}

.customization_block #uploadable_files {}

.customization_block ul li {overflow:hidden;}
.customization_block ul li > div + div {padding:10px 0 0 0;}
.customization_block ul li .customizationUploadBrowse img {margin:0 5px 0 0;}

textarea.customization_block_input {width:570px !important;min-width:300px;height:100px;}

.customization_block #customizedDatas {margin:0;padding:20px 0 0 0;}


/* pack products list */
#pack_product_list {}





/* ————— manufacturers-list.tpl && suppliers-list.tpl ————— */
.mnf_sup_list {padding:20px 0 0 0;border-width:0 0 1px 0;border-style:solid;overflow:hidden;}

.mnf_sup_list li {height:82px;overflow:hidden;padding:20px 0;border-width:1px 0 0 0;border-style:solid;}

.mnf_sup_list li .logo {display:block;float:left;border-width:1px;border-style:solid;}

.mnf_sup_list li .left_side {width:300px;float:left;padding:0 0 0 20px;}
.mnf_sup_list li .left_side div {padding:7px 0 0 0;}
.mnf_sup_list li .left_side h3 {padding:17px 0 0 0;font-weight:bold;color:#888;}
.mnf_sup_list li .left_side h3 a {font-weight:bold;}

.mnf_sup_list li .right_side {width:120px;height:82px;float:right;position:relative;}
.mnf_sup_list li .right_side p {padding:17px 0 0 0;}
.mnf_sup_list li .right_side a.button {position:absolute;right:0;bottom:0;}





/* —————————————————————————————— info pages —————————————————————————————— */
/* ————— sitemap.tpl ————— */
div.sitemap_block {width:30%;float:left;padding:0 3% 0 0;}
div.sitemap_block ul {padding-top:7px;}
div.sitemap_block ul li {padding:5px 0 0 12px;background:url(../images/bullet_alt.png) 0 10px no-repeat;}

div.categTree {clear:both;overflow:hidden;padding:3px 0 0 0;}
div.tree_top {height:14px;margin:10px 0 0 0;padding:3px 0 0 28px;background:url(../images/sitemap_top.gif) -1px -1px no-repeat;}
div.tree_top a {font-weight:bold;text-transform:uppercase;}

div#center_column ul.tree {}
div#center_column ul.tree li {border-left:solid 1px #a1a1a1;background:url(../images/sitemap_horizontal.gif) 0 12px no-repeat;margin:0 0 0 11px;padding:5px 0 0 16px;}
div#center_column ul.tree li ul {padding:2px 0 4px 0;}
div#center_column ul.tree li ul li {margin:0;}
div#center_column ul.tree a {padding-left:0;}
div#center_column ul.tree a.selected {font-weight:bold;}
div#center_column ul.tree li.last {background:url(../images/sitemap_last.gif) 0 0 no-repeat;border:none;padding:5px 0 0 17px;}


/* ————— contact-form.tpl ————— */
p#desc_contact0,
p#desc_contact1,
p#desc_contact2 {height:15px;padding:11px 0 0 157px;}

body#contact-form div#center_column form p.file_input label {padding-top:3px;}
body#contact-form div#center_column form p.file_input input {height:21px;}
body#contact-form div#center_column form textarea#message {width:400px !important;height:200px !important;}





/* —————————————————————————————— account pages —————————————————————————————— */
/* ————— authentication.tpl ————— */
/* login / create account */
#authentication #create-account_form {width:48%;clear:none;float:left;margin:0 4% 0 0;}
#authentication #login_form {width:47.9%;clear:none;float:left;}

#authentication #create-account_form h4,
#authentication #login_form h4 {height:45px;margin:0;padding:15px 0 0 0;}

#authentication #create-account_form p.text,
#authentication #login_form p.text {width:220px;padding:15px 0 0 0;}

#authentication #create-account_form p.submit,
#authentication #login_form p.submit {padding:18px 0 0 0;}

#authentication #create-account_form label,
#authentication #login_form label {display:block;clear:both;text-align:left;padding:0 0 5px 0;}

#authentication #login_form p.lost_password {margin:0;}

#new_account_form p.radio input {top:3px;}
#new_account_form p.radio label {padding:0 15px 0 3px;line-height:19px;display:inline-block;}

/* account creation form */
form#account-creation_form p.radio input {top:5px;}
form#account-creation_form p.radio label {padding:4px 15px 0 3px;display:inline-block;}

form#account-creation_form textarea {width:210px;max-width:563px;}

form#account-creation_form span.form_info {line-height:19px;}


/* ————— password.tpl ————— */
.forgot_password #restore_password label {width:170px;}
.forgot_password p.submit {padding-left:177px !important;}


/* ————— my-account.tpl ————— */
body#my-account div#center_column ul#my_account_links {padding:3px 0 0 0;}
body#my-account div#center_column ul#my_account_links li {padding:12px 0 0 0;}
body#my-account div#center_column ul#my_account_links li img {margin:0 5px 0 0;display:inline-block;}


/* ————— addresses.tpl ————— */
ul.address {}

ul.item {width:47.6%;float:left;margin:20px 4% 0 0;padding:0 0 17px 0;border-width:1px;border-style:solid;overflow:hidden;}
ul.alternate_item {width:47.6%;float:right;margin:20px 0 0 0;padding:0 0 17px 0;border-width:1px;border-style:solid;overflow:hidden;}

ul.address li {margin:5px 20px 0 20px;}
ul.address li.address_title {margin:17px 20px 14px 20px;font-weight:bold;text-transform:uppercase;color:#000;}
ul.address li.address_title h3 {margin:0;}

ul.address li span.address_name,
ul.address li span.address_firstname,
ul.address li span.address_lastname,
ul.address li.address_firstname {font-weight:bold;color:#1c1c1c;}

ul.address li.address_update,
ul.address li.address_delete {}

body#addresses div.address_add {clear:both;padding:20px 0 0 0;}


/* ————— address.tpl ————— */
body#address div#center_column form.std p.textarea textarea {width:206px;}
body#address div#center_column form.std p.submit .button {margin:20px 0 0 0;}


/* ————— identity.tpl ————— */
form.identity p.radio input {top:3px;}
form.identity p.radio label {padding:0 15px 0 3px;line-height:19px;display:inline-block;}

form.identity p.required_desc {padding:20px 0 0 157px;}

p#security_informations {padding:20px 0 0 157px;font-size:11px;}





/* —————————————————————————————— order pages —————————————————————————————— */
/* ————— order-steps.tpl ————— */
#order_steps {width:550px;height:56px;overflow:hidden;margin:20px 0 0 0;background-image:url(../images/order_steps.png);background-repeat:no-repeat;}
ul.step1 {background-position:0 0;}
ul.step2 {background-position:0 -56px;}
ul.step3 {background-position:0 -112px;}
ul.step4 {background-position:0 -168px;}
ul.step5 {background-position:0 -224px;}

#order_steps li {width:110px;height:56px;float:left;}

#order_steps li a,
#order_steps li span {width:100px;height:22px;display:block;padding:34px 0 0 10px;font:normal 12px "Arial";}

#order_steps li span {color:#a1a1a1;}
#order_steps li.step_current span {font-weight:bold;color:#fff;}
#order_steps li a {font-weight:bold;color:#9c9c9c;text-decoration:none;}
#order_steps li a:hover {color:#fff;}


/* ————— Order step 1: summary (shopping-cart.tpl) ————— */
body#order table.std td:first-child a img {}
body#order table.std h5 a {}
body#order table.std h5 a:hover {}

table#cart_summary {}
table#cart_summary tr td.cart_product {width:45px;}

table#cart_summary tr td.cart_quantity {text-align:center;width:52px;}
table#cart_summary tr td.cart_quantity div#cart_quantity_button {width:34px;float:left;}
table#cart_summary tr td.cart_quantity div#cart_quantity_button input.text {width:26px;height:15px;padding:3px;text-align:center;}
table#cart_summary tr td.cart_quantity a {height:16px;display:block;float:right;}
table#cart_summary tr td.cart_quantity a.cart_quantity_delete {width:11px;height:11px;display:block;float:left;margin:22px 0 0 7px;}

table#cart_summary tr td ul.customizationUploaded li img {margin:0 10px 0 0;border:1px solid #eee;}
table#cart_summary tr td ul.typedText li {padding:7px 0 0 0;}

table#cart_summary tr td.cart_discount_delete {text-align:center;}

table#cart_summary tr th.cart_total,
table#cart_summary tr td.cart_total,
table#cart_summary tr td.cart_discount_price {text-align:right;}

table#cart_summary td#total_price,
table#cart_summary td#total_price span {background:#1c1c1c;color:#fff !important;}

/* voucher form */
form#voucher fieldset {padding:10px;border-width:1px;border-style:solid;}
form#voucher fieldset h2 {float:left;margin:0;padding:6px 20px 0 10px;}
form#voucher fieldset p {float:left;margin:0;padding:4px 20px 0 0;}
form#voucher fieldset p.submit {padding:0;}
form#voucher fieldset p.text label {float:left;text-align:right;padding:2px 7px 0 0;}
form#voucher fieldset p.text input {width:166px;padding:1px;}

form#voucher fieldset div#display_cart_vouchers h4 {margin:10px 0 0 0;padding:10px 0 0 0;border-top:1px solid #eee;}
form#voucher fieldset div#display_cart_vouchers div {padding:4px 0 0 0;}
form#voucher fieldset div#display_cart_vouchers span.voucher_name {font-weight:bold;text-decoration:underline;cursor:pointer;}
form#voucher fieldset div#display_cart_vouchers span.voucher_name:hover {text-decoration:none;}

/* order carrier */
div#order_carrier {margin:20px 0 0 0;padding:10px;border-width:1px;border-style:solid;}
div#order_carrier h4 {float:left;padding:0 10px;}

/* cart navigation */
p.cart_navigation {clear:both;margin:0;padding:20px 0 0 0;overflow:hidden;}

p.cart_navigation .button,
p.cart_navigation .button_large {float:left;}

p.cart_navigation .exclusive,
p.cart_navigation .exclusive_large {float:right;}

/* ————— carriercompare.tpl ————— */
#compare_shipping_form h3 {}
#compare_shipping_form p {margin:0;}
#compare_shipping_form #availableCarriers {padding:15px 0 0 0;}
#compare_shipping_form #noCarrier {margin:12px 0 0;padding:10px 13px;text-align:center;}
#availableCarriers_table {width:100% !important;}

#carriercompare_errors_list li {margin:0 !important;padding:3px 0 0 0;}


/* ————— Order step 2: log in (authentication.tpl) ————— */


/* ————— Order step 3: addresses (order-address.tpl) ————— */
div.order_address {}
div.order_address p.select label {float:left;text-align:right;padding:2px 7px 0 0;}
div.order_address p#address_invoice_form a.button_large {margin:0 auto;}
div.order_address p.address_add {padding:20px 0 0 0;margin:0;}
div.order_address #ordermsg p {margin:0;}
div.order_address #ordermsg textarea {height:100px;}


/* ————— Order step 4: shipping (order-carrier.tpl) ————— */
table#carrierTable {margin:17px 0 0 0;}
table#carrierTable tr td {}
table#carrierTable tr td.radio input {background:none;border:none;position:relative;top:1px;left:0;}

p#gift_div {display:none;clear:both;margin:0;}
p#gift_div label {display:block;}
p#gift_div textarea {height:100px;margin:12px 0 0 0;}


/* ————— Order step 5: payment (order-payment.tpl) ————— */
p.payment_module {display:block;margin:0 !important;padding:20px 0 0 0 !important;border:none !important;}
.payment_module img {vertical-align:middle;margin:0 10px 0 0;}
.payment_module a {display:block;background:#fafafa;border:1px solid #ddd;padding:7px;color:#777;text-decoration:none;}

.payment_module a:hover,
.payment_module a:focus,
.payment_module a:active {background:#fff;border:1px solid #1c1c1c;color:#000;}


/* ————— history.tpl ————— */
.color-myaccount,
a.color-myaccount {color:#1c1c1c;}

div#block-history {margin:17px 0 0 0;}
div#block-history textarea {height:100px;}

table#order-list td.history_link a {font-weight:bold;}
table#order-list td.history_detail a.details_link {text-transform:capitalize;}

#block-history #block-order-detail table.std td.inputs input.order_qte_input {height:15px;padding:1px;float:left;}
#block-history #block-order-detail table.std td.inputs label {display:block;float:left;padding:2px 0 0 7px;font-weight:bold;}

#block-history h3 {padding:17px 0 0 0;}
#block-history #block-order-detail {padding:3px 0 0 0;}

#block-history #block-order-detail h4 {overflow:hidden;}

div#order-detail-content table.std th.last_item,
div#order-detail-content table.std td.last_item {text-align:right;}

form#sendOrderMessage {}
form#sendOrderMessage p.textarea {padding:20px 0 0 0;}
form#sendOrderMessage p.submit {padding:20px 0 0 0;}


/* ————— order-slip.tpl ————— */


/* ————— discount.tpl ————— */
table.discount {margin:17px 0 0 0;}
table.discount td.discount_code {font-weight:bold;}
table.discount td.discount_value {white-space:nowrap;}

body#discount div.center_column sup {vertical-align:top;font:normal 13px "Tahoma";color:#da0f00;}





/* ————— One Page Checkout ————— */
/* ————— order-opc.tpl ————— */
div#order-opc h2.bordercolor {margin:20px 0 0 0;padding:17px 0 0 0;border-width:1px 0 0 0;border-style:solid;}

div#order-opc table#carrierTable {margin:17px 0 0 0;}

div#order-opc textarea#message {height:100px;}


/* ————— order-opc-new-account.tpl ————— */

/* account choice */
div#opc_account_choice div.opc_float {padding:17px 0 0 0;}
div#opc_account_choice div.opc_float input {float:left;margin:0 7px 0 0;}

div#login_form_content input.text {width:206px;}

/* already registered */
div#login_form_content p.submit {}
div#login_form_content #login_passwd {margin:12px 0 0 157px;}

/* new customer */
div#opc_account_form textarea#other,
div#opc_account_form #other_invoice {width:206px;}

div#opc_account_form p.required_desc {padding-top:20px;}

p#opc_account_saved {display:none;font-weight:bold;color:#3eab4c;}


/* ————— guest-tracking.tpl ————— */
form.guest p.text i {padding:0 0 0 5px;line-height:19px;}





/* ————— sendtoafriend.tpl ————— */
.sendtoafriend .sendtoafriend_product {padding:20px 0 0 157px;}
.sendtoafriend .button {text-transform:capitalize;}





/* ————— 404.tpl ————— */
p.error404 {border:2px solid #dd0000;background:#f5f5f5;margin:20px 0 0 0;padding:10px;line-height:32px;}
p.error404 img {margin:0 10px 0 0;}


/* conditions & legal */
ul.shop_info {list-style-type:square!important;list-style-position:inside;padding:0.6em;margin-top:0.6em;margin-left:2em;border:1px solid #888;}
ul.shop_info li {padding-left:0.5em!important;padding-bottom:0.5em!important;}

/* module reversoform */
.account_creation #reverso-form {width:100%;}
.account_creation #reverso-form label {width:250px;text-align:left;margin-left:10px;}
.account_creation #reverso-form label#legend_reverso {clear:both;width:100%;font-size:10px;text-align:left;}
.account_creation #reverso-form input#reverso_form {margin-top:20px;}

/* module paypalapi */
.paypalapi_about {text-align:justify;}
.paypalapi_about ul {padding-left:20px;}





/* —————————————————————————————— footer styles —————————————————————————————— */
#footer {width:1060px;height:279px;clear:both;margin:0 0 0 -20px;background:url(../images/bg_footer.png) 0 0 no-repeat;}


/* ————— tmfooterlinks.tpl ————— */
#tmfooterlinks {width:620px;margin:0 auto;padding:15px 0 0 0;}
#tmfooterlinks div {width:191px;float:left;}
#tmfooterlinks div + div {width:190px;padding:0 0 0 49px;background:url(../images/footerlinks.png) 0 52px no-repeat;}
#tmfooterlinks div + div + div {width:140px;padding:0 0 0 50px;background:url(../images/footerlinks.png) 0 52px no-repeat;}
#tmfooterlinks h4 {padding:31px 0 0 0;font:bold 13px "Georgia";color:#fff;text-transform:uppercase;}

#tmfooterlinks ul {padding:6px 0 0 0;}
#tmfooterlinks ul li {padding:5px 0 0 8px;background:url(../images/bullet_footer.png) 0 12px no-repeat;}
#tmfooterlinks ul li a {font:10px "Georgia";color:#c7c7c7;text-decoration:none;text-transform:uppercase;}
#tmfooterlinks ul li a:hover {color:#fff;}

#tmfooterlinks p {padding:64px 0 0 0;clear:both;font:12px "Georgia";color:#666666;text-align:center;}
#tmfooterlinks p a {font:12px "Georgia";color:#666666;text-decoration:none;}
#tmfooterlinks p a:hover {color:#000;}


/*
 * FancyBox - jQuery Plugin
 * Simple and fancy lightbox alternative
 *
 * Examples and documentation at: http://fancybox.net
 * 
 * Copyright (c) 2008 - 2010 Janis Skarnelis
 * That said, it is hardly a one-person project. Many people have submitted bugs, code, and offered their advice freely. Their support is greatly appreciated.
 * 
 * Version: 1.3.4 (11/11/2010)
 * Requires: jQuery v1.3+
 *
 * Dual licensed under the MIT and GPL licenses:
 *   http://www.opensource.org/licenses/mit-license.php
 *   http://www.gnu.org/licenses/gpl.html
 */
 
/* PrestaShop
 *
 * We did several modifications in this file:
 *
 * - Persistant arrows
 * - Fixed IE 6 path on the AlphaLoader method
 * - Specific path for background images
 *
 */

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	margin-left: -20px;
	cursor: pointer;
	overflow: hidden;
	z-index: 1104;
	display: none;
}

#fancybox-loading div {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 480px;
	background-image: url('../js/jquery/fancybox/fancybox.png');
}

#fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1100;
	display: none;
}

#fancybox-tmp {
	padding: 0;
	margin: 0;
	border: 0;
	overflow: auto;
	display: none;
}

#fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	z-index: 1101;
	outline: none;
	display: none;
}

#fancybox-outer {
	position: relative;
	width: 100%;
	height: 100%;
	background: #fff;
}

#fancybox-content {
	width: 0;
	height: 0;
	padding: 0;
	outline: none;
	position: relative;
	overflow: hidden;
	z-index: 1102;
	border: 0px solid #fff;
}

#fancybox-hide-sel-frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	z-index: 1101;
}

#fancybox-close {
	position: absolute;
	top: -15px;
	right: -15px;
	width: 30px;
	height: 30px;
	background: transparent url('../js/jquery/fancybox/fancybox.png') -40px 0px;
	cursor: pointer;
	z-index: 1103;
	display: none;
}

#fancybox-error {
	color: #444;
	font: normal 12px/20px Arial;
	padding: 14px;
	margin: 0;
}

#fancybox-img {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	line-height: 0;
	vertical-align: top;
}

#fancybox-frame {
	width: 100%;
	height: 100%;
	border: none;
	display: block;
}

#fancybox-left, #fancybox-right {
	position: absolute;
	bottom: 0px;
	height: 100%;
	width: 35%;
	cursor: pointer;
	outline: none;
	background: transparent url('../js/jquery/fancybox/blank.gif');
	z-index: 1102;
	display: none;
}

#fancybox-left {
	left: 0px;
}

#fancybox-right {
	right: 0px;
}

#fancybox-left-ico, #fancybox-right-ico {
	position: absolute;
	top: 50%;
	left: -9999px;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	cursor: pointer;
	z-index: 1102;
	display: block;
}

#fancybox-left-ico {
	background-image: url('../js/jquery/fancybox/fancybox.png');
	background-position: -40px -30px;
	left: 20px;  /* PrestaShop - make left arrow permanently visible */
}

#fancybox-right-ico {
	background-image: url('../js/jquery/fancybox/fancybox.png');
	background-position: -40px -60px;
	/* PrestaShop - make right arrow permanently visible */
	right: 20px;
	left: auto;
	/* End */
}

#fancybox-left:hover, #fancybox-right:hover {
	visibility: visible; /* IE6 */
}

#fancybox-left:hover span {
	left: 20px;
}

#fancybox-right:hover span {
	left: auto;
	right: 20px;
}

.fancybox-bg {
	position: absolute;
	padding: 0;
	margin: 0;
	border: 0;
	width: 20px;
	height: 20px;
	z-index: 1001;
}

#fancybox-bg-n {
	top: -20px;
	left: 0;
	width: 100%;
	background-image: url('../js/jquery/fancybox/fancybox-x.png');
}

#fancybox-bg-ne {
	top: -20px;
	right: -20px;
	background-image: url('../js/jquery/fancybox/fancybox.png');
	background-position: -40px -162px;
}

#fancybox-bg-e {
	top: 0;
	right: -20px;
	height: 100%;
	background-image: url('../js/jquery/fancybox/fancybox-y.png');
	background-position: -20px 0px;
}

#fancybox-bg-se {
	bottom: -20px;
	right: -20px;
	background-image: url('../js/jquery/fancybox/fancybox.png');
	background-position: -40px -182px; 
}

#fancybox-bg-s {
	bottom: -20px;
	left: 0;
	width: 100%;
	background-image: url('../js/jquery/fancybox/fancybox-x.png');
	background-position: 0px -20px;
}

#fancybox-bg-sw {
	bottom: -20px;
	left: -20px;
	background-image: url('../js/jquery/fancybox/fancybox.png');
	background-position: -40px -142px;
}

#fancybox-bg-w {
	top: 0;
	left: -20px;
	height: 100%;
	background-image: url('../js/jquery/fancybox/fancybox-y.png');
}

#fancybox-bg-nw {
	top: -20px;
	left: -20px;
	background-image: url('../js/jquery/fancybox/fancybox.png');
	background-position: -40px -122px;
}

#fancybox-title {
	font-family: Helvetica;
	font-size: 12px;
	z-index: 1102;
}

.fancybox-title-inside {
	padding-bottom: 10px;
	text-align: center;
	color: #333;
	background: #fff;
	position: relative;
}

.fancybox-title-outside {
	padding-top: 10px;
	color: #fff;
}

.fancybox-title-over {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #FFF;
	text-align: left;
}

#fancybox-title-over {
	padding: 10px;
	background-image: url('../js/jquery/fancybox/fancy_title_over.png');
	display: block;
}

.fancybox-title-float {
	position: absolute;
	left: 0;
	bottom: -20px;
	height: 32px;
}

#fancybox-title-float-wrap {
	border: none;
	border-collapse: collapse;
	width: auto;
}

#fancybox-title-float-wrap td {
	border: none;
	white-space: nowrap;
}

#fancybox-title-float-left {
	padding: 0 0 0 15px;
	background: url('../js/jquery/fancybox/fancybox.png') -40px -90px no-repeat;
}

#fancybox-title-float-main {
	color: #FFF;
	line-height: 29px;
	font-weight: bold;
	padding: 0 0 3px 0;
	background: url('../js/jquery/fancybox/fancybox-x.png') 0px -40px;
}

#fancybox-title-float-right {
	padding: 0 0 0 15px;
	background: url('../js/jquery/fancybox/fancybox.png') -55px -90px no-repeat;
}

/* IE6 */

.fancybox-ie6 #fancybox-close { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='js/jquery/fancybox/fancy_close.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-left-ico { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='js/jquery/fancybox/fancy_nav_left.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-right-ico { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='js/jquery/fancybox/fancy_nav_right.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-title-over { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='js/jquery/fancybox/fancy_title_over.png', sizingMethod='scale'); zoom: 1; }
.fancybox-ie6 #fancybox-title-float-left { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='js/jquery/fancybox/fancy_title_left.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-title-float-main { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='js/jquery/fancybox/fancy_title_main.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-title-float-right { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='js/jquery/fancybox/fancy_title_right.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-bg-w, .fancybox-ie6 #fancybox-bg-e, .fancybox-ie6 #fancybox-left, .fancybox-ie6 #fancybox-right, #fancybox-hide-sel-frame {
	height: expression(this.parentNode.clientHeight + "px");
}

#fancybox-loading.fancybox-ie6 {
	position: absolute; margin-top: 0;
	top: expression( (-20 + (document.documentElement.clientHeight ? document.documentElement.clientHeight/2 : document.body.clientHeight/2 ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop )) + 'px');
}

#fancybox-loading.fancybox-ie6 div	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='js/jquery/fancybox/fancy_loading.png', sizingMethod='scale'); }

/* IE6, IE7, IE8 */

.fancybox-ie .fancybox-bg { background: transparent !important; }

.fancybox-ie #fancybox-bg-n { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../js/jquery/fancybox/fancy_shadow_n.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-ne { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../js/jquery/fancybox/fancy_shadow_ne.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-e { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../js/jquery/fancybox/fancy_shadow_e.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-se { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../js/jquery/fancybox/fancy_shadow_se.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-s { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../js/jquery/fancybox/fancy_shadow_s.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-sw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../js/jquery/fancybox/fancy_shadow_sw.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-w { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../js/jquery/fancybox/fancy_shadow_w.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-nw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../js/jquery/fancybox/fancy_shadow_nw.png', sizingMethod='scale'); }


/* —————————————————————————————— printable version —————————————————————————————— */
@media print {

* {background:none!important;background-color:white!important;}

div#left_column, div#right_column, div#footer, a.button, span.button , .button, ul#usefull_link_block, div#header_user, #languages_block_top,
#search_block_top, #currencies_block_top, ul#header_links, ul.idTabs, #availability_statut br {display:none;}

div#center_column {width:100%;}
input.text {border:1px solid gray;}
.block_hidden_only_for_screen {display: block;margin-top:1em;}
#more_info_sheets #idTab1 {width:530px;}

}